{% extends "::index_v2.html.twig" %}

{% block title %}Materiaal &mdash; {{ parent() }}{% endblock %}
{% block fbtitle %}Materiaal &mdash; {{ parent() }}{% endblock %}

{% block description %}
    Van lesmateriaal tot documenten, op deze pagina vind je alles wat je nodig hebt voor jouw dojo.
{% endblock %}

{% block fbdescription %}
    Van lesmateriaal tot documenten, op deze pagina vind je alles wat je nodig hebt voor jouw dojo.
{% endblock %}

{% block content %}
    <!--=== Breadcrumbs ===-->
    <section class="g-bg-size-cover g-bg-pos-center g-bg-cover g-bg-black-opacity-0_5--after g-color-white g-py-50 g-mb-20" style="background-image: url({{ asset('/bundles/coderdojowebsite/img/headers/header_13.jpg') }});">
        <div class="container g-bg-cover__inner">
            <header class="g-mb-20">
                <h3 class="h5 g-font-weight-300 g-mb-5">Om jouw dojo verder te helpen</h3>
                <h2 class="h1 g-font-weight-300 text-uppercase">Materiaal</h2>
            </header>

            <ul class="u-list-inline">
                <li class="list-inline-item g-mr-7">
                    Home
                    <i class="fa fa-angle-right g-ml-7"></i>
                </li>
                <li class="list-inline-item g-mr-7">
                    Jouw Dojo
                    <i class="fa fa-angle-right g-ml-7"></i>
                </li>
                <li class="list-inline-item g-color-primary">
                    <span>Materiaal</span>
                </li>
            </ul>
        </div>
    </section>
    <!--=== End Breadcrumbs ===-->

<!--=== Content Part ===-->
<section class="col-lg-12 g-mb-40">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-right">
                <p><a href="https://drive.google.com/drive/folders/1Ik4LAMKXByIZ70qGo38ZHv8IhGgKnbgB?usp=sharing" target="_blank" class="btn btn-md u-btn-primary g-mr-10 g-mb-15">Naar Google Drive&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-external-link"></i></a></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 md-margin-bottom-50">
                <!-- Our Services -->
                <div class="g-bg-blue g-color-white text-center g-pa-20 g-mb-20">
                    <h4>Lesmateriaal</h4>
                    <p class="g-font-size-32"><i class="fa fa-book"></i></p>
                    <p>Van sushi cards tot workshops</p>
                </div><!--/welcome-block-->
                <!-- End Our Services -->

                <p><strong class="color-green">Raspberry Pi Projects</strong> is dé plek waar de CoderDojo community wereldwijd materiaal verzamelt. Hier is ook speciaal voor Nederlandstalig materiaal een pagina opgenomen.</p>
                <br/>
                <p><a href="https://projects.raspberrypi.org/nl-NL/projects" target="_blank" class="btn btn-md btn-block u-btn-blue g-mr-10 g-mb-15">Naar de Projects&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-external-link"></i></a></p>

                <p class="mt-5"><strong class="color-green">Een online dojo</strong> kan iedereen organiseren. Wij hebben op basis van onze pilot enkele documenten opgesteld om het voor elke dojo zo makkelijk mogelijk te maken om een online editie te organiseren!</p>
                <br/>
                <p><a href="https://drive.google.com/drive/folders/1Ik4LAMKXByIZ70qGo38ZHv8IhGgKnbgB?usp=sharing" target="_blank" class="btn btn-md btn-block u-btn-blue g-mr-10 g-mb-15">Organiseer een online dojo&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-external-link"></i></a></p>



            </div><!--/col-md-4-->

            <div class="col-md-4 md-margin-bottom-50">
                <!-- Our Services -->
                <div class="g-bg-green g-color-white text-center g-pa-20 g-mb-20">
                    <h4>Documenten</h4>
                    <p class="g-font-size-32"><i class="fa fa-folder-open"></i></p>
                    <p>Algemene documenten voor vrij gebruik</p>
                </div><!--/welcome-block-->
                <!-- End Our Services -->

                <p>
                    Om snel en makkelijk te beginnen hebben we een aantal documenten op een algemene manier opgezet.
                    Deze kun je zo gebruiken, of indien nodig aanpassen aan jouw dojo voordat je ze gebruikt.
                </p>

                <hr>

                <div class="col-lg-12 g-mb-10">
                    <!-- Icon Blocks -->
                    <div class="media g-mb-15">
                        <div class="d-flex mr-4">
                            <span class="g-color-gray-dark-v4 g-font-size-26">
                              <i class="fa fa-home"></i>
                            </span>
                        </div>
                        <div class="media-body">
                            <h3 class="h5 g-color-black mb-20">Huisregels</h3>
                            <p class="g-color-gray-dark-v4">
                                Een aantal basisregels zodat bezoekers en mentoren weten wat er wel en niet kan tijdens een dojo.
                            </p>
                            <p>
                                <a href="https://drive.google.com/file/d/1Tu_W5RDJXem5oEs29fXrxkJnVsnrrxFc/view?usp=sharing" target="_blank" class="btn btn-md btn-block g-bg-green g-color-white g-mr-10 g-mb-15">Download PDF &nbsp;&nbsp;<i class="fa fa-file-pdf-o"></i></a>
                            </p>
                        </div>
                    </div>
                </div>

                <hr>

                <div class="col-lg-12 g-mb-10">
                    <!-- Icon Blocks -->
                    <div class="media g-mb-15">
                        <div class="d-flex mr-4">
                            <span class="g-color-gray-dark-v4 g-font-size-26">
                              <i class="fa fa-group"></i>
                            </span>
                        </div>
                        <div class="media-body">
                            <h3 class="h5 g-color-black mb-20">Vrijwilligers Overeenkomst</h3>
                            <p class="g-color-gray-dark-v4">
                                Afspraken met mentoren om te zorgen dat ze weten wat er van ze verwacht wordt.
                            </p>
                            <p>
                                <a href="https://drive.google.com/file/d/1_YNrB066Y0xbaYJfHFRq6fnToIdc8rbu/view?usp=sharing" target="_blank" class="btn btn-md btn-block g-bg-green g-color-white g-mr-10 g-mb-15">Download PDF &nbsp;&nbsp;<i class="fa fa-file-pdf-o"></i></a>
                            </p>
                        </div>
                    </div>
                </div>

                <hr>

                <div class="col-lg-12 g-mb-10">
                    <!-- Icon Blocks -->
                    <div class="media g-mb-15">
                        <div class="d-flex mr-4">
                            <span class="g-color-gray-dark-v4 g-font-size-26">
                              <i class="fa fa-shield"></i>
                            </span>
                        </div>
                        <div class="media-body">
                            <h3 class="h5 g-color-black mb-20">Protocol Veiligheid</h3>
                            <p class="g-color-gray-dark-v4">
                                Om de veiligheid van de kinderen zo goed mogelijk te waarborgen.
                            </p>
                            <p>
                                <a href="https://drive.google.com/file/d/1CBvyshPpz_goJH6Ojpuqvw1DlmtMYKMw/view?usp=sharing" target="_blank" class="btn btn-md btn-block g-bg-green g-color-white g-mr-10 g-mb-15">Download PDF &nbsp;&nbsp;<i class="fa fa-file-pdf-o"></i></a>
                            </p>
                        </div>
                    </div>
                </div>

                <hr>

                <div class="col-lg-12 g-mb-10">
                    <!-- Icon Blocks -->
                    <div class="media g-mb-15">
                        <div class="d-flex mr-4">
                            <span class="g-color-gray-dark-v4 g-font-size-26">
                              <i class="fa fa-briefcase"></i>
                            </span>
                        </div>
                        <div class="media-body">
                            <h3 class="h5 g-color-black mb-20">Overig</h3>
                            <p class="g-color-gray-dark-v4">
                                Bekijk hier alle overige documenten en de bewerkbare Word versies.
                            </p>
                            <p>
                                <a href="https://drive.google.com/drive/folders/1kEA-t9cBz76XFFb-mo8h18aeE4W8d04o?usp=sharing" target="_blank" class="btn btn-md btn-block g-bg-green g-color-white g-mr-10 g-mb-15">Open in Drive &nbsp;&nbsp; <i class="fa fa-chevron-right"></i> </a>
                            </p>
                        </div>
                    </div>
                </div>

            </div><!--/col-md-4-->

            <div class="col-md-4 md-margin-bottom-50">
                <!-- Our Services -->
                <div class="g-bg-yellow g-color-white text-center g-pa-20 g-mb-20">
                    <h4>Huisstijl</h4>
                    <p class="g-font-size-32"><i class="fa fa-bullhorn"></i></p>
                    <p>Logo&apos;s voor CoderDojo binnen Nederland</p>
                </div><!--/welcome-block-->
                <!-- End Our Services -->

                <p>Om te zorgen dat we met alle dojo's in Nederland goed herkenbaar zijn maken we gebruik van een huisstijl. Alle nodige documenten zijn hier te vinden.<br/><br/></p>

                <hr>

                <div class="col-lg-12 g-mb-10">
                    <!-- Icon Blocks -->
                    <div class="media g-mb-15">
                        <div class="d-flex mr-4">
                            <span class="g-color-gray-dark-v4 g-font-size-26">
                              <i class="fa fa-info-circle"></i>
                            </span>
                        </div>
                        <div class="media-body">
                            <h3 class="h5 g-color-black mb-20">Guidelines</h3>
                            <p class="g-color-gray-dark-v4">
                                Een overzichtelijke site waarin duidelijk beschreven staat hoe de huisstijl toegepast moet worden.
                            </p>
                            <p>
                                <a href="{{ path('style-guide') }}" target="_blank" class="btn btn-md btn-block g-bg-yellow g-color-white g-mr-10 g-mb-15">Openen &nbsp;&nbsp; <i class="fa fa-external-link"></i> </a>
                            </p>
                        </div>
                    </div>
                </div>

                <hr>

                <div class="col-lg-12 g-mb-10">
                    <!-- Icon Blocks -->
                    <div class="media g-mb-15">
                        <div class="d-flex mr-4">
                            <span class="g-color-gray-dark-v4 g-font-size-26">
                              <i class="fa fa-group"></i>
                            </span>
                        </div>
                        <div class="media-body">
                            <h3 class="h5 g-color-black mb-20">CoderDojo Nederland</h3>
                            <p class="g-color-gray-dark-v4">
                                Algemene logo's van CoderDojo Nederland voor zowel print als digitale weergave.
                            </p>
                            <p>
                                <a href="https://drive.google.com/drive/folders/1kEA-t9cBz76XFFb-mo8h18aeE4W8d04o?usp=sharing" target="_blank" class="btn btn-md btn-block g-bg-yellow g-color-white g-mr-10 g-mb-15">Openen &nbsp;&nbsp; <i class="fa fa-external-link"></i> </a>
                            </p>
                        </div>
                    </div>
                </div>

                <hr>

                <div class="col-lg-12 g-mb-10">
                    <!-- Icon Blocks -->
                    <div class="media g-mb-15">
                        <div class="d-flex mr-4">
                            <span class="g-color-gray-dark-v4 g-font-size-26">
                              <i class="fa fa-camera"></i>
                            </span>
                        </div>
                        <div class="media-body">
                            <h3 class="h5 g-color-black mb-20">Rechtenvrije Foto&apos;s</h3>
                            <p class="g-color-gray-dark-v4">
                                Foto&apos;s die rechtenvrij gebruikt kunen worden voor diverse doeleinden.
                            </p>
                            <p>
                                <a href="https://drive.google.com/drive/folders/1WI9JnMvY7sMu0vLJiovv4kQI4hmqZH0l?usp=sharing" target="_blank" class="btn btn-md btn-block g-bg-yellow g-color-white g-mr-10 g-mb-15">Openen &nbsp;&nbsp; <i class="fa fa-external-link"></i> </a>
                            </p>
                        </div>
                    </div>
                </div>

                <hr>

                <div class="col-lg-12 g-mb-10">
                    <!-- Icon Blocks -->
                    <div class="media g-mb-15">
                        <div class="d-flex mr-4">
                            <span class="g-color-gray-dark-v4 g-font-size-26">
                              <i class="fa fa-bullhorn"></i>
                            </span>
                        </div>
                        <div class="media-body">
                            <h3 class="h5 g-color-black mb-20">Promotiemateriaal</h3>
                            <p class="g-color-gray-dark-v4">
                                Voorbeelden van promotiemateriaal zoals hoodies, flyers en banners.
                            </p>
                            <p>
                                <a href="https://drive.google.com/drive/folders/1i0zFkPrLmegA0kCHzkrMbAtZcAYPFE8v?usp=sharing" target="_blank" class="btn btn-md btn-block g-bg-yellow g-color-white g-mr-10 g-mb-15">Openen &nbsp;&nbsp; <i class="fa fa-external-link"></i> </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div><!--/col-md-4-->
        </div><!--/row-->
    </div><!--/container-->
</section>
<!--=== End Content Part ===-->

{% endblock %}
