<html lang="en">
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<head>
    <style type="text/css">
        html,body
        {
            font-family: 'Verdana', sans-serif;
            font-size:12px;
            color:#1f1f1f;
            line-height:1.5em;
        }
        p {
            margin: 10px 0;
        }
        .btn {
            -webkit-border-radius: 7;
            -moz-border-radius: 7;
            border-radius: 7px;
            font-family: 'Verdana', sans-serif;
            color: #ffffff;
            font-size: 16px;
            background: #e67e22;
            padding: 10px 20px 10px 20px;
            text-decoration: none;
        }

        .btn:hover {
            background: #cc6d1a;
            text-decoration: none;
        }
    </style>
</head>
<body>
<div style="width:400px">
    <p>Hi {{ user.firstName }},</p>

    <p>Je hebt een account geregistreerd op coderdojo.nl. Welkom!
        Zoals je hebt kunnen zien vragen we je eerst om jouw emailadres te bevestigen.
        Dat kun je doen door op onderstaande link te klikken.
    </p>
    <p>&nbsp;</p>
    <p style="text-align: center;">
        <a href="{{ confirmationUrl }}" class="btn">Activeer mijn account</a>
    </p>
    <p>&nbsp;</p>
    <p>
        Mocht je vragen hebben dan kun je gewoon op deze email antwoorden en dan gaan wij ons best doen om je zo snel mogelijk te helpen.
    </p>
    <p>&nbsp;</p>
    <p>
        Groetjes,</br>
        CoderDojo Nederland
    </p>
</div>
<p style="margin:0px;">
    <a href="http://www.coderdojo.nl" style="border:0px;text-decoration:none;">
        <img src="http://www.coderdojo-rotterdam.nl/images/logonl.png" width="200" alt="CoderDojo Nederland"/>
    </a>
</p>
</body>
</html>