{% extends "::index.html.twig" %}

{% block robots %}
{% if status_code > 400 and status_code < 500 %}noindex, nofollow{% else %}{{ parent() }}{% endif %}
{% endblock %}

{% block content %}
    <!--=== Breadcrumbs ===-->
    <div class="breadcrumbs margin-bottom-40">
        <div class="container">
            <h1 class="pull-left">Oops!</h1>
        </div>
    </div><!--/breadcrumbs-->
    <!--=== End Breadcrumbs ===-->

    <div class="container">
        <!--Error Block-->
        <div class="row margin-bottom-30">
            <div class="col-md-8 col-md-offset-2">
                <div class="error-v1">
                    <h1 style="text-align: center">Deze pagina konden we niet vinden!<br/>Misschien helpt dit je op weg...</h1>
                </div>
            </div>
        </div>
        <div class="row margin-bottom-30">
            <div class="col-md-4">
                <a href="{{ path('blog_index') }}" class="no-underline">
                    <div class="servive-block servive-block-in margin-bottom-20">
                        <div class="servive-block-in servive-block-colored servive-block-yellow">
                            <h4>Nieuws</h4>
                            <p><i class="icon-bullhorn"></i></p>
                            <p><br>Het laatste nieuws over CoderDojo in Nederland.</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="{{ path('material') }}" class="no-underline">
                    <div class="servive-block servive-block-in margin-bottom-20">
                        <div class="servive-block-in servive-block-colored servive-block-blue">
                            <h4>Lesmateriaal</h4>
                            <p><i class="icon-book"></i></p>
                            <p><br>Van sushi cards tot workshops</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="{{ path('dojos') }}" class="no-underline">
                    <div class="servive-block servive-block-in margin-bottom-20">
                        <div class="servive-block-in servive-block-colored servive-block-green">
                            <h4>Locaties / Agenda</h4>
                            <p><i class="icon-globe"></i></p>
                            <p><br>Waar en wanneer vinden dojos plaats.</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="row margin-bottom-50">
            <div class="col-md-8 col-md-offset-2">
                    <div class="row tag-box tag-box-v5">
                        <div class="col-md-8">
                            <p>
                                Misschien heb je zelf al een idee waarom?<br/>Dan kun je ons helpen om het op te lossen!
                            </p>
                        </div>
                        <div class="col-md-4">
                            <p><a href="https://github.com/coderdojonederland/website" class="btn-u btn-u-lg btn-u-red"><i class="icon-github"></i> Naar GitHub</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--End Error Block-->
    </div>
{% endblock %}
