{% extends 'AdminBundle::index.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Artikelen</h2>
                    <div class="clearfix"></div>
                </div>

                <div class="x_content">
                    <form class="form-horizontal" action="{{ path('admin_blog_article_delete', {'id':article.uuid}) }}" method="post">
                        <div class="form-group">
                            <div class="col-lg-offset-2 col-lg-10">
                                <p>Weet je zeker dat je het artikel <strong>"{{ article.title }}"</strong> wilt verwijderen?</p>
                            </div>
                            <div class="col-lg-offset-2 col-lg-10">
                                <a href="{{ path('admin_blog_article_index') }}" class="btn btn-default">Annuleren</a>
                                <input type="submit" value="Verwijderen" class="btn btn-danger" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}