/web/bundles/
/app/bootstrap.php.cache
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/app/cache/*
/app/config/parameters.yml
/app/logs/*
/build/
/vendor/
/bin/
/composer.phar
/.idea
/.vagrant
node_modules
