{% extends "::index.html.twig" %}

{% block title %}Interessepeiling Cursus EHBO Basis &mdash; {{ parent() }}{% endblock %}
{% block fbtitle %}Interessepeiling Cursus EHBO Basis &mdash; {{ parent() }}{% endblock %}

{% block description %}
    Momenteel zijn wij samen met het Rode Kruis bezig om te kijken of wij voor onze vrijwilligers een cursus EHBO basis + reanimatie (incl. AED) kunnen verzorgen.
    Middels een paar vragen willen we graag peilen of hier voldoende animo voor is en hoe we dit het beste in kunnen zetten
{% endblock %}

{% block fbdescription %}
    Momenteel zijn wij samen met het Rode Kruis bezig om te kijken of wij voor onze vrijwilligers een cursus EHBO basis + reanimatie (incl. AED) kunnen verzorgen.
    Middels een paar vragen willen we graag peilen of hier voldoende animo voor is en hoe we dit het beste in kunnen zetten
{% endblock %}

{% block og_image %}https://www.coderdojo.nl{{asset('bundles/coderdojowebsite/img/rodekruis-coderdojo.png')}}{% endblock %}

{% block content %}
<!--=== Breadcrumbs ===-->
<div class="breadcrumbs margin-bottom-40">
    <div class="container">
        <h1 class="pull-left">Interessepeiling Cursus EHBO basis</h1>
    </div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<!--=== Content Part ===-->
<div class="container">
    <div class="row margin-bottom-30">
        <div class="col-md-12">
            <div class="typeform-widget" data-url="https://coderdojonederland1.typeform.com/to/Jl6gTI" data-transparency="100" data-hide-headers=true data-hide-footer=true style="width: 100%; height: 500px;"></div>
            <script>(function(){ var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm", b="https://embed.typeform.com/"; if(!gi.call(d,id)) { js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>
        </div>
    </div><!--/row-->

</div><!--/container-->
<!--=== End Content Part ===-->
{% endblock %}
