{% set images = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]|shuffleMe %}

<!--=== Slider ===-->
<div class="layer_slider">
    <div id="layerslider-container-fw">
        <div id="layerslider" style="width: 100%; height: 500px; margin: 0px auto; ">
            {% for image in images %}
                <!--First Slide-->
                <div class="ls-layer" style="slidedirection: right;">
                    <img src="{{ asset("/bundles/coderdojowebsite/img/headers/header_#{ image }.jpg") }}" class="ls-bg">
                </div>
                <!--End First Slide-->
            {% endfor %}
        </div>
    </div>
</div><!--/layer_slider-->
<!--=== End Slider ===-->
