{% extends "CoderdojoWebsiteBundle::index.html.twig" %}

{% block title %}Nieuwsbrief &mdash; Samenwerkingen &mdash; {{ parent() }}{% endblock %}
{% block fbtitle %}Nieuwsbrief &mdash; Samenwerkingen &mdash; {{ parent() }}{% endblock %}
{# block og_image %}https://www.coderdojo.nl{{asset('bundles/coderdojowebsite/img/books/facebook.png')}}{% endblock #}

{% block description %}
    Schrijf je in op de nieuwsbrief om op de hoogte te blijven van alles rondom CoderDojo in Nederland.
    Je kunt aageven of je informatie voor deelnemers of juist voor de organisatie wilt ontvangen.
{% endblock %}

{% block fbdescription %}
    Schrijf je in op de nieuwsbrief om op de hoogte te blijven van alles rondom CoderDojo in Nederland.
    Je kunt aageven of je informatie voor deelnemers of juist voor de organisatie wilt ontvangen.
{% endblock %}

{% block content %}
<!--=== Breadcrumbs ===-->
<div class="breadcrumbs margin-bottom-40">
    <div class="container">
        <h1 class="pull-left">Nieuwsbrief</h1>
    </div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<!--=== Content Part ===-->
<div class="container">

    <div class="row margin-bottom-50">
        <div class="col-md-8 col-md-push-2 col-sm-12 col-sm-push-0">
            <div class="headline">
                <h3>Schrijf je in voor de Nieuwsbrief</h3>
            </div>

            {% if app.request.query.has('thankyou') %}
                <div class="alert alert-success">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <strong>Bedankt!</strong><br/>
                    We hebben je een email gestuurd om jouw adres te bevestigen. Klik op de link in de email om de nieuwbrief te ontvangen!
                </div>
            {% endif %}
            <div class="panel panel-green margin-bottom-40">
                <div class="panel-heading">
                    <h3 class="panel-title" style="padding-bottom: 5px;"><i class="icon-bullhorn"></i> Inschrijven</h3>
                </div>
                <div class="panel-body" id="mc_embed_signup">
                    <form class="form-horizontal validate" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" method="post" role="form" action="https://coderdojo.us13.list-manage.com/subscribe/post?u=8ec0b28920a640e210372bee9&amp;id=f763b9923d" target="_blank">
                        <div class="form-group">
                            <label for="firstname" class="col-lg-3 control-label">Voornaam</label>
                            <div class="col-lg-9 mc-field-group">
                                <input type="text" class="form-control required firstname" id="mce-FNAME" placeholder="Voornaam" name="FNAME">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="mce-EMAIL" class="col-lg-3 control-label">Email</label>
                            <div class="col-lg-9 mc-field-group">
                                <input type="email" class="form-control required email" id="mce-EMAIL" name="EMAIL" placeholder="Email">
                            </div>
                        </div>
                        <div class="form-group mc-field-group">
                            <label for="mce-group[8354]" class="col-lg-3 control-label">Welke emails wil je ontvangen? </label>
                            <div class="col-lg-9">
                                <select name="group[8354]" class="REQ_CSS form-control" id="mce-group[8354]">
                                    <option value="1" selected>Ninja / Ouder</option>
                                    <option value="2">Champion / Mentor / Vrijwilliger</option>
                                </select>
                            </div>
                        </div>
                        <div id="mce-responses" class="clear">
                            <div class="response" id="mce-error-response" style="display:none"></div>
                            <div class="response" id="mce-success-response" style="display:none"></div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-offset-3 col-lg-9">
                                <div style="position: absolute; left: -5000px;" aria-hidden="true">
                                    <input type="text" name="b_8ec0b28920a640e210372bee9_f763b9923d" tabindex="-1" value="">
                                </div>
                                <input type="submit" value="Inschrijven" name="subscribe" id="mc-embedded-subscribe" class="btn-u btn-u-green">
                            </div>
                        </div>
                    </form>
                    <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text'; /*
                         * Translated default messages for the $ validation plugin.
                         * Locale: NL
                         */
                            $.extend($.validator.messages, {
                                required: "Dit is een verplicht veld.",
                                remote: "Controleer dit veld.",
                                email: "Vul hier een geldig e-mailadres in.",
                                url: "Vul hier een geldige URL in.",
                                date: "Vul hier een geldige datum in.",
                                dateISO: "Vul hier een geldige datum in (ISO-formaat).",
                                number: "Vul hier een geldig getal in.",
                                digits: "Vul hier alleen getallen in.",
                                creditcard: "Vul hier een geldig creditcardnummer in.",
                                equalTo: "Vul hier dezelfde waarde in.",
                                accept: "Vul hier een waarde in met een geldige extensie.",
                                maxlength: $.validator.format("Vul hier maximaal {0} tekens in."),
                                minlength: $.validator.format("Vul hier minimaal {0} tekens in."),
                                rangelength: $.validator.format("Vul hier een waarde in van minimaal {0} en maximaal {1} tekens."),
                                range: $.validator.format("Vul hier een waarde in van minimaal {0} en maximaal {1}."),
                                max: $.validator.format("Vul hier een waarde in kleiner dan of gelijk aan {0}."),
                                min: $.validator.format("Vul hier een waarde in groter dan of gelijk aan {0}.")
                            });}(jQuery));var $mcj = jQuery.noConflict(true);</script>
                    <!--End mc_embed_signup-->
                </div>
            </div>
        </div>
    </div>
</div><!--/container-->
<!--=== End Content Part ===-->
{% endblock %}
