{% extends "CoderdojoWebsiteBundle::index.html.twig" %}

{% block title %}Over De Stichting{{ parent() }}{% endblock %}
{% block fbtitle %}Over De Stichting{{ parent() }}{% endblock %}

{% block description %}
    Als regionaal orgaan voor Nederland zijn wij de centrale hub in Nederland die verbindingen legt tussen alle stakeholders. Zowel tussen de moeder stichting in Ierland en de Nederlandse dojos als tussen de dojos in Nederland onderling.
{% endblock %}

{% block fbdescription %}
    Als regionaal orgaan voor Nederland zijn wij de centrale hub in Nederland die verbindingen legt tussen alle stakeholders. Zowel tussen de moeder stichting in Ierland en de Nederlandse dojos als tussen de dojos in Nederland onderling.
{% endblock %}

{% block customjs %}
    <script type="text/javascript">
        mixpanel.track("View Stichting Page");
    </script>
{% endblock %}

{% block content %}
<!--=== Breadcrumbs ===-->
<div class="breadcrumbs margin-bottom-40">
    <div class="container">
        <h1 class="pull-left">Stichting Informatie</h1>
    </div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<!--=== Content Part ===-->
<div class="container">
    <div class="row margin-bottom-30">
        <div class="col-md-8">
            <p class="margin-bottom-20"><strong>Visie</strong><br/>Als regionaal orgaan voor Nederland zijn wij de centrale hub in Nederland die verbindingen legt tussen alle stakeholders. Zowel tussen de moeder stichting in Ierland en de Nederlandse dojos als tussen de dojos in Nederland onderling. Ook voor derden partijen zoals sponsoren / partners of potentiële champions is het Nederlandse regionale orgaan de verbindende factor.</p>
            <p class="margin-bottom-20"><strong>Missie</strong><br/>CoderDojo Nederland ondersteunt de community in Nederland door het faciliteren van communicatie onder de dojo’s, het voorzien van de basisinformatie en benodigde documentatie rondom het opzetten van een dojo en het bevorderen van de groei van de organisatie. Met deze activiteiten zorgt CoderDojo Nederland ervoor dat de dojo’s in het land een zo groot mogelijke impact hebben op de maatschappij. </p>
        </div>
        <div class="col-md-4">
            <p><strong>Taken van de Stichting</strong></p>
            <ul>
                <li>Online Community Management</li>
                <li>Faciliteren van Kennisdeling</li>
                <li>Faciliteren van Netwerken</li>
                <li>Helpen bij opstarten van nieuwe dojo&apos;s</li>
                <li>CoderDojo Ethos / Concept Bewaken en uitdragen</li>
            </ul>
        </div>
    </div>

    <hr class="margin-bottom-30">

    <div class="row margin-bottom-30">
        <div class="col-md-4 md-margin-bottom-40">
            <br/><br/>
            <table>
                <tbody>
                <tr>
                    <td width="110"><strong>Officiële naam:</strong></td>
                    <td>Stichting CoderDojo Nederland</td>
                </tr>
                <tr>
                    <td><strong>Publieke naam:</strong></td>
                    <td>CoderDojo Nederland</td>
                </tr>
                </tbody>
            </table>
            &nbsp;
            <table>
                <tbody>
                <tr>
                    <td width="110"><strong>KvK:</strong></td>
                    <td>64468917</td>
                </tr>
                <tr>
                    <td><strong>RSIN:</strong></td>
                    <td>855679153</td>
                </tr>
                <tr>
                    <td><strong>Rekening:</strong></td>
                    <td>NL75 INGB 0007 0700 67</td>
                </tr>
                </tbody>
            </table>
            &nbsp;
            <table>
                <tbody>
                <tr>
                    <td width="110"><strong>Email:</strong></td>
                    <td>contact@coderdojo.nl</td>
                </tr>
                <tr>
                    <td width="110"><strong>Telefoon:</strong></td>
                    <td><a href="tel:+31713020002">071 - 302 0002</a></td>
                </tr>
                <tr>
                    <td width="110"><strong>Skype:</strong></td>
                    <td>
                        <div id="SkypeButton_Call_coderdojonederland_1">
                            <script type="text/javascript">
                                Skype.ui({
                                    "name": "call",
                                    "element": "SkypeButton_Call_coderdojonederland_1",
                                    "participants": ["live:contact_38802"]
                                });
                            </script>
                        </div>
                        <div id="SkypeButton_Call_coderdojonederland_2">
                            <script type="text/javascript">
                                Skype.ui({
                                    "name": "chat",
                                    "element": "SkypeButton_Call_coderdojonederland_2",
                                    "participants": ["live:contact_38802"]
                                });
                            </script>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="col-md-8 md-margin-bottom-40">
            <div class="row margin-top-30">
                <div class="col-md-4 col-xs-4 md-margin-bottom-30">
                    <strong>Voorzitter</strong><br/>
                    Christian Vermeulen
                    <img style="width:100%;" src="{{ asset('/bundles/coderdojowebsite/img/chris.jpg') }}" alt="Voorzitter - Christian Vermeulen" />
                </div>

                <div class="col-md-4 col-xs-4 md-margin-bottom-30">
                    <strong>Penningmeester</strong><br/>
                    Giselle M. Pereira
                    <img style="width:100%;" src="http://coderdojo-rotterdam.nl/wp-content/uploads/2014/08/giselle-e1412339736262-273x273.jpg" alt="Penningmeester - Giselle M. Pereira"/>
                </div>

                <div class="col-md-4 col-xs-4 md-margin-bottom-30">
                    <strong>Secretaris</strong><br/>
                    Tiemen Waterreus
                    <img style="width:100%;" src="http://coderdojo-rotterdam.nl/wp-content/uploads/2014/08/selfie-273x273.png" alt="Secretaris - Tiemen Waterreus"/>
                </div>
            </div>
        </div>
    </div><!--/row-->

    <hr>

</div><!--/container-->
<!--=== End Content Part ===-->
{% endblock %}
