# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     coderdojonl
    database_user:     root
    database_password: supersafe
    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"

    mailer_transport:  smtp
    mailer_host:       smtp.mailgun.org
    mailer_user:       postmaster@sandbox988ea66b7a98450f9b55998cc8101822.mailgun.org
    mailer_password:   4b95df5909f4dcee83273e0652b9c095
    mailer_port:       587

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt

    # Api token for talking to slack
    slack_api_token: 1234
    eventbrite_api_token: 1234

    # Sentry key
    sentry: "https://public:secret@sentry.io/119482"

    dev_email: 'dev@email.com'

    articles_root: "%kernel.root_dir%/../web"
    recaptcha_secret: 'abc'
    recaptcha_site: 'abc'

    mollie_key: xxx
    router.request_context.host: 'coderdojo.nl'
    router.request_context.scheme: 'https'

    ecurring_api_key: xxx
    ecurring_quartely_plan_id: 1588216395
    ecurring_semi_yearly_plan_id: 929389656
    ecurring_yearly_plan_id: 1814329001
