<!--=== Slider ===-->
<div class="layer_slider">
    <div id="layerslider-container-fw">
        <div id="layerslider" style="width: 100%; height: 500px; margin: 0px auto; ">
            <!--First Slide-->
            <div class="ls-layer" style="slidedirection: right;">

                <img src="https://farm8.staticflickr.com/7451/10523233224_7889fcdf8d_h.jpg" class="ls-bg" alt="CoderDojo Rotterdam #1">

            </div>
            <!--End First Slide-->


            <!--Second Slide-->
            <div class="ls-layer" style="slidedirection: right; ">

                <img src="https://farm3.staticflickr.com/2837/11225463115_cbb6dfbfd2_h.jpg" class="ls-bg" alt="CoderDojo Rotterdam #2">

            </div>
            <!--End Second Slide-->

            <!--Second Slide-->
            <div class="ls-layer" style="slidedirection: right; ">

                <img src="https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-ash4/t31.0-8/1796933_607820075977389_1649688681_o.jpg" class="ls-bg" alt="CoderDojo Rotterdam #2">

            </div>
            <!--End Second Slide-->

            <!--Third Slide-->
            <div class="ls-layer" style="slidedirection: right; ">

                <img src="https://farm4.staticflickr.com/3821/11225375626_dc8f1143c9_h.jpg" class="ls-bg" alt="CoderDojo Rotterdam #2">

            </div>
            <!--End Third Slide-->
        </div>
    </div>
</div><!--/layer_slider-->
<!--=== End Slider ===-->
