<div class="categories margin-bottom-40">
    <div class="u-heading-v2-5--bottom g-brd-primary g-mb-30">
        <h2 class="u-heading-v2__title text-uppercase g-font-weight-300 mb-0">Categorieen</h2>
    </div>

    {% for category in categories %}
        <a href="{{ path('blog_category', {'slug': category.slug}) }}">
            <span class="u-label u-label-default g-bg-gray-light-v2 g-mr-10 g-mb-15"><i class="fa fa-tags"></i> {{ category.title }}</span>
        </a>
    {% endfor %}
</div><!--/posts-->
