{% trans_default_domain 'FOSUserBundle' %}


<div class="card card-outline-success rounded-0">
    <h3 class="card-header h5 text-white bg-success g-brd-transparent rounded-0">
        <i class="fa fa-tasks g-font-size-default g-mr-5"></i>
        Wachtwoord aanpassen
    </h3>

    <div class="card-block">
        {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password form-horizontal' } }) }}
        {{ form_widget(form) }}
        <div class="form-group row">
            <div class="col-lg-2"></div>
            <div class="col-lg-offset-2 col-lg-10">
                <input type="submit" value="{{ 'profile.edit.submit'|trans }}" class="btn btn-block btn-success" />
            </div>
        </div>
        <div>

        </div>
        {{ form_end(form) }}
    </div>
</div>
