{% extends "CoderdojoWebsiteBundle::index.html.twig" %}

{% block title %}Programmeer de Ziggo Dome &mdash; {{ parent() }}{% endblock %}
{% block fbtitle %}Programmeer de Ziggo Dome &mdash; {{ parent() }}{% endblock %}

{% block description %}
    Op 24 November is de LED wall op de Ziggo Dome even van ons. Help jij ons hem te vullen?
{% endblock %}

{% block fbdescription %}
    Op 24 November is de LED wall op de Ziggo Dome even van ons. Help jij ons hem te vullen?
{% endblock %}

{% block customjs %}
    <script type="text/javascript">
        mixpanel.track("View Zigo Dome Page");
    </script>
{% endblock %}

{% block content %}
    <!--=== Breadcrumbs ===-->
    <div class="breadcrumbs margin-bottom-40">
        <div class="container">
            <h1 class="pull-left">Programmeer de Ziggo Dome</h1>
        </div>
    </div><!--/breadcrumbs-->
    <!--=== End Breadcrumbs ===-->

    <div class="container">
      <!--Error Block-->
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1 style="text-align: center">Programmeer de Ziggo Dome</h1>
          <br/>
          <p style="text-align: center;">
            Op 24 november vieren we een feestje! We vieren dan namelijk dat we 1 jaar bestaan als CoderDojo Nederland, we vieren dat we tien duizend ninja's hebben leren programmeren en we vieren dat we heel veel mooie dingen gedaan hebben in het afgelopen jaar.
            Omdat de Ninja's daar een heel groot onderdeel van zijn is het aan jullie de opdracht om je eigen fantasie feest te programmeren. De mooiste creaties worden op 24 november op de Ziggo Dome geprojecteerd. Wil je weten hoe jij mee kan doen? Lees snel verder!
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <ul style="list-style-type:none;margin:0;padding:0;"><li><h2><i class="icon-download icon-bg-green icon-round"></i> 1. Download de plaatjes</h2></li></ul>
          <br/>
          <p>
            Klik op de groene knop hieronder om het Scratch project te bekijken waar je mee aan de slag kunt! Klik vervolgens op "remix" om een kopie op je eigen Scratch account te krijgen.
            Bezoek de link naar Scratch om een voorbeeld feestje te zien, klik rechts boven op "remix" om het project te kopieren naar jouw account. (heb je nog geen account? deze kun je hier maken.)
          </p>
          <a class="btn btn-success" href="https://drive.google.com/drive/folders/0B4dubyTBPGvcSEVfaWlYX0tBYW8" target="_blank">Download de plaatjes</a> <a class="btn btn-success" href="https://scratch.mit.edu/" target="_blank">Begin met bouwen</a>
        </div>
      </div>

      <br><br>

      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <ul style="list-style-type:none;margin:0;padding:0;"><li><h2><i class="icon-flag icon-bg-green icon-round"></i> 2. Ontwerp &amp; bouw jouw fantasie feest</h2></li></ul>
          <br/>
          <p>
            euhhh hier moet nog tekst. Maar ik weet even geen tekst dus ik vul dit later wel in. Groetjes! euhhh hier moet nog tekst. Maar ik weet even geen tekst dus ik vul dit later wel in. Groetjes!
            euhhh hier moet nog tekst. Maar ik weet even geen tekst dus ik vul dit later wel in. Groetjes!
            euhhh hier moet nog tekst. Maar ik weet even geen tekst dus ik vul dit later wel in. Groetjes!
          </p>
        </div>
      </div>

      <br><br>

      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <ul style="list-style-type:none;margin:0;padding:0;"><li><h2><i class="icon-envelope icon-bg-green icon-round"></i> 3. Stuur jouw feest op voor 18 november</h2></li></ul>
          <br/>
          <p>
            Stuur jouw creatie in voor 18 november en wie weet wordt jouw feestje op de Ziggo Dome geprojecteerd. Winnaars worden 20 november op de hoogte gestelt! Stuur jouw creatie in voor 18 november en wie weet wordt jouw feestje op de Ziggo Dome geprojecteerd. Winnaars worden 20 november op de hoogte gestelt!
            Stuur jouw creatie in voor 18 november en wie weet wordt jouw feestje op de Ziggo Dome geprojecteerd. Winnaars worden 20 november op de hoogte gestelt!
            Stuur jouw creatie in voor 18 november en wie weet wordt jouw feestje op de Ziggo Dome geprojecteerd. Winnaars worden 20 november op de hoogte gestelt!
          </p>
          <a class="btn btn-success" href="https://docs.google.com/forms/d/e/1FAIpQLSdpC3giTFHV2ElJS9e62q85sFMT_j0C-d7SFyKnVFSe2DIHTg/viewform" target="_blank">Stuur jouw feestje op</a>
        </div>
      </div>

      <br><br>
      <!--End Error Block-->
    </div>
{% endblock %}
