{% extends "CoderdojoWebsiteBundle::index.html.twig" %}

{% block title %}Programmeer de Ziggo Dome &mdash; {{ parent() }}{% endblock %}
{% block fbtitle %}Programmeer de Ziggo Dome &mdash; {{ parent() }}{% endblock %}
{% block og_image %}https://www.coderdojo.nl{{asset('bundles/coderdojowebsite/img/fb_ziggodome.png')}}{% endblock %}

{% block description %}
    Op 24 November is de LED wall op de Ziggo Dome even van ons. Help jij ons hem te vullen?
{% endblock %}

{% block fbdescription %}
    Op 24 November is de LED wall op de Ziggo Dome even van ons. Help jij ons hem te vullen?
{% endblock %}

{% block customjs %}
    <script type="text/javascript">
        mixpanel.track("View Zigo Dome Page");
    </script>
{% endblock %}

{% block content %}
    <!--=== Breadcrumbs ===-->
    <div class="breadcrumbs margin-bottom-40">
        <div class="container">
            <h1 class="pull-left">Programmeer de Ziggo Dome</h1>
        </div>
    </div><!--/breadcrumbs-->
    <!--=== End Breadcrumbs ===-->

    <div class="container">
      <!--Error Block-->
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1 style="text-align: center">Programmeer de Ziggo Dome</h1>
          <br/>
          <p style="text-align: center;">
            Op 24 november vieren we een feestje! CoderDojo, Ziggo en lokale partners hebben dan namelijk 10.000 ninja's leren programmeren en CoderDojo Nederland bestaat 1 jaar!
            Omdat de Ninja's daar een heel groot onderdeel van zijn is het aan jullie de opdracht om je eigen fantasie feest te programmeren. De mooiste creaties worden op 24 november op de Ziggo Dome geprojecteerd.
            <br><br>
            <strong>Wil je weten hoe jij mee kan doen? Lees snel verder!</strong>
          </p>
          <img src="{{ asset('/bundles/coderdojowebsite/img/ziggodome.png') }}" alt="Programmeer de Ziggo Dome LED Wall" style="width:100%;"/>
          <br><br><br>
        </div>
      </div>

      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <ul style="list-style-type:none;margin:0;padding:0;"><li><h2><i class="icon-download icon-bg-green icon-round"></i> 1. Download de plaatjes</h2></li></ul>
          <br/>
          <p>
            Download hieronder de plaatjes die we speciaal voor jullie hebben klaargezet en start een nieuw scratch project.
          </p>
          <a class="btn btn-success" href="/bundles/coderdojowebsite/programmeer-de-ziggodome.zip" target="_blank">Download de plaatjes (5,8 MB)</a> <a class="btn btn-success" href="https://scratch.mit.edu/" target="_blank">Ontwerp jouw feestje!</a>
        </div>
      </div>

      <br><br>

      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <ul style="list-style-type:none;margin:0;padding:0;"><li><h2><i class="icon-flag icon-bg-green icon-round"></i> 2. Ontwerp &amp; bouw jouw fantasie feest</h2></li></ul>
          <br/>
          <p>
            Gebruik de figuurtjes die je in de vorige stap hebt gedownload om jouw fantasie feestje vorm te geven. Je kunt het zo gek niet verzinnen! Hoe zou jouw ideale feestje eruit zien? Vier jij het liefst feest in een bos vol dansende leeuwen met slingers en taart, op een strand met ballonnen en cadeautjes of omringd door 10.000 juichende kinderen? Jij mag het zeggen; het is jouw feestje
          </p>
        </div>
      </div>

      <br><br>

      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <ul style="list-style-type:none;margin:0;padding:0;"><li><h2><i class="icon-envelope icon-bg-green icon-round"></i> 3. Stuur jouw feest op voor 7 november</h2></li></ul>
          <br/>
          <p>
            Stuur jouw creatie voor 7 november op en wie weet wordt jouw feestje op de Ziggo Dome geprojecteerd. Winnaars worden na 7 november op de hoogte gesteld!
          </p>
          <a class="btn btn-success" href="https://docs.google.com/forms/d/e/1FAIpQLSdpC3giTFHV2ElJS9e62q85sFMT_j0C-d7SFyKnVFSe2DIHTg/viewform" target="_blank">Stuur jouw feestje op</a>
        </div>
      </div>

      <br><br>
      <!--End Error Block-->
    </div>
{% endblock %}
