{% extends "::index_v2.html.twig" %}

{% block title %}Word lid van de Club van 100 &mdash; {{ parent() }}{% endblock %}
{% block fbtitle %}Word lid van de Club van 100 &mdash; {{ parent() }}{% endblock %}

{% block description %}
    Steun CoderDojo Nederland door lid te worden van de club van 100! Dit betekent dat jij elk jaar &euro;100,- doneert aan
    CoderDojo Nederland. Deze club bestaat uit 100 mensen / bedrijven waardoor de stichting zeker is van een jaarlijks inkomen.
{% endblock %}

{% block fbdescription %}
    Steun CoderDojo Nederland door lid te worden van de club van 100! Dit betekent dat jij elk jaar &euro;100,- doneert aan
    CoderDojo Nederland. Deze club bestaat uit 100 mensen / bedrijven waardoor de stichting zeker is van een jaarlijks inkomen.
{% endblock %}

{% block og_image %}https://www.coderdojo.nl{{asset('bundles/coderdojowebsite/img/fb-club100.png')}}{% endblock %}

{% block content %}
<!--=== Breadcrumbs ===-->
    <section class="g-bg-size-cover g-bg-pos-center g-bg-cover g-bg-black-opacity-0_5--after g-color-white g-py-50 g-mb-20" style="background-image: url({{ asset('/bundles/coderdojowebsite/img/headers/header_13.jpg') }});">
        <div class="container g-bg-cover__inner">
            <header class="g-mb-20">
                <h3 class="h5 g-font-weight-300 g-mb-5">Bedankt!</h3>
                <h2 class="h1 g-font-weight-300 text-uppercase">Club van 100</h2>
            </header>

            <ul class="u-list-inline">
                <li class="list-inline-item g-mr-7">
                    Home
                    <i class="fa fa-angle-right g-ml-7"></i>
                </li>
                <li class="list-inline-item g-mr-7">
                    Club van 100
                    <i class="fa fa-angle-right g-ml-7"></i>
                </li>
                <li class="list-inline-item g-mr-7">
                    Bedankt
                </li>
            </ul>
        </div>
    </section>
<!--=== End Breadcrumbs ===-->

<!--=== Content Part ===-->
<section class="col-lg-12 g-my-50">
    <div class="container">
        <div class="row margin-bottom-30">
            <div class="col-lg-2"></div>
            <div class="col-md-8 col-md-push-2">

                <div class="u-heading-v2-5--bottom g-brd-primary g-mb-20 g-mt-40">
                    <h2 class="u-heading-v2__title text-uppercase g-font-weight-300 mb-0">Bedankt!</h2>
                </div>

                <div class="text-center g-mb-40">
                    <img src="https://media1.giphy.com/media/detOmeyQVP0D1uCX1F/200w.gif?cid=c94812d05cc9988676734d4a32331af9&rid=200w.gif" style="width:50%;"/>
                </div>

                <p>
                    We hebben je aanmelding goed ontvangen! Je hebt van ons een email gekregen om je aanmelding te bevestigen.
                    Als je dit gedaan hebt zul je van ons per mail steeds gevraagd worden om je donatie over te maken.
                </p>

            </div>
        </div><!--/row-->

    </div><!--/container-->
</section>
<!--=== End Content Part ===-->
{% endblock %}
