{% extends "::index.html.twig" %}

{% block title %}Word lid van de Club van 100 &mdash; {{ parent() }}{% endblock %}
{% block fbtitle %}Word lid van de Club van 100 &mdash; {{ parent() }}{% endblock %}

{% block description %}
    Steun CoderDojo Nederland door lid te worden van de club van 100! Dit betekend dat jij elk jaar &euro;100,- doneert aan
    CoderDojo Nederland. Deze club bestaat uit 100 mensen / bedrijven waardoor de stichting zeker is van een jaarlijks inkomen.
{% endblock %}

{% block fbdescription %}
    Steun CoderDojo Nederland door lid te worden van de club van 100! Dit betekend dat jij elk jaar &euro;100,- doneert aan
    CoderDojo Nederland. Deze club bestaat uit 100 mensen / bedrijven waardoor de stichting zeker is van een jaarlijks inkomen.
{% endblock %}

{% block og_image %}https://www.coderdojo.nl{{asset('bundles/coderdojowebsite/img/fb-club100.png')}}{% endblock %}

{% block content %}
<!--=== Breadcrumbs ===-->
<div class="breadcrumbs margin-bottom-40">
    <div class="container">
        <h1 class="pull-left">Club van 100</h1>
    </div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<!--=== Content Part ===-->
<div class="container">
    <div class="row margin-bottom-30">
        <div class="col-md-8 col-md-push-2">

            <div style="text-align: center;width:100%;">
                <img src="https://media3.giphy.com/media/l2JdVptfnCwNTiBvG/200w.gif?cid=c94812d05cc9a5c2796846326767fbb2&rid=200w.gif" style="width:50%;"/>
            </div>

            <div class="clearfix margin-bottom-20"></div>

            <h1>Je bent er klaar voor!</h1>

            <div class="clearfix margin-bottom-20"></div>

            <p>
                Jouw aanmelding is nu bevestigd, bij deze ben je officieel lid van de CoderDojo Nederland Club van 100!
            </p>

            <div class="clearfix margin-bottom-20"></div>

        </div>
    </div><!--/row-->

</div><!--/container-->
<!--=== End Content Part ===-->
{% endblock %}
