{% extends ":Snippets:_email.html.twig" %}

{% block content %}
    <p>Hi {{ coc.letters }} {{ coc.name }},</p>
    <p>
        We hebben jouw gratis VOG aangevraagd bij het ministerie.
        Als het goed is krijg je hier ook van de overheid bericht van.
        Het is nu aan jou om zélf jouw VOG aan te vragen!
    </p>
    <p>
        Zodra je jouw VOG thuis hebt ontvangen moet je deze naar ons opsturen. Dat doe je naar het volgende adres:<br/>
        CoderDojo Nederland<br/>
        T.a.v. Christian Vermeulen<br/>
        Wolphaertsbocht 90b<br/>
        3082AS Rotterdam
    </p>
    <p>
        Wil je ons ook laten weten wanneer je hem op de bus gedaan heb door op onderstaande knop te klikken?
    </p>
    <p>
        <br/>
        <a href="{{ url('vog-requested', {'id':coc.id}) }}" class="btn">
            Ik heb mijn VOG opgestuurd
        </a>
        <br/><br/>
    </p>
{% endblock content %}