{% extends ":Snippets:_email.html.twig" %}

{% block content %}
    <p>Hi {{ coc.letters }} {{ coc.name }},</p>
    <p>
        We hebben jouw gratis VOG aangevraagd bij het ministerie.
        Je hebt van noreplyjustis@minvenj.nl een email ontvangen met een unieke code om jouw VOG aan te vragen.
    </p>
    <p>
        <strong>Let op!</strong> Deze code is slechts 30 dagen geldig, daarna moeten wij een nieuwe code voor je aanvragen.
        Laat ons via onderstaande knop weten dat je jouw VOG aangevraagd hebt, anders blijf je reminders van ons krijgen.
    </p>
    <p>
        <br/>
        <a href="{{ url('vog-requested', {'id':coc.id}) }}" class="btn">
            Ik heb mijn VOG aangevraagd
        </a>
        <br/><br/>
    </p>
    <p>
        Zodra je jouw VOG thuis hebt ontvangen moet je <strong>het origineel</strong> naar ons opsturen.
        Dat doe je naar het volgende adres:
    </p>
    <p>
        <strong>CoderDojo Nederland</strong><br/>
        T.a.v. Christian Vermeulen<br/>
        Wolphaertsbocht 90b<br/>
        3082AS Rotterdam
    </p>
    <p>
        Mocht je nog vragen hebben, laat het ons gerust weten!
    </p>
{% endblock content %}
