{% extends 'AdminBundle::index.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Categorieen</h2>
                    <div class="clearfix"></div>
                </div>

                <div class="x_content">
                    {{ form_start(edit_form) }}
                    {{ form_widget(edit_form) }}
                    <input type="submit" value="Edit" />
                    {{ form_end(edit_form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}