{% extends "CoderdojoWebsiteBundle::index.html.twig" %}

{% block title %}Materiaal &mdash; {{ parent() }}{% endblock %}
{% block fbtitle %}Materiaal &mdash; {{ parent() }}{% endblock %}

{% block description %}
    Van lesmateriaal tot documenten, op deze pagina vind je alles wat je nodig hebt voor jouw dojo.
{% endblock %}

{% block fbdescription %}
    Van lesmateriaal tot documenten, op deze pagina vind je alles wat je nodig hebt voor jouw dojo.
{% endblock %}

{% block customjs %}
    <script type="text/javascript">
        mixpanel.track("View Material Page");
    </script>
{% endblock %}

{% block content %}
<!--=== Breadcrumbs ===-->
<div class="breadcrumbs margin-bottom-40">
    <div class="container">
        <h1 class="pull-left">Materiaal</h1>
    </div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<!--=== Content Part ===-->
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <p style="text-align: right"><a href="https://drive.google.com/open?id=0B74qlTINKtpBdm1YWlhpcmctSTg" target="_blank" class="btn btn-default">Naar Google Drive&nbsp;&nbsp;&nbsp;&nbsp;<i class="icon-chevron-right"></i></a></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 md-margin-bottom-50">
            <!-- Our Services -->
            <div class="servive-block servive-block-in margin-bottom-20">
                <div class="servive-block-in servive-block-colored servive-block-blue">
                    <h4>Lesmateriaal</h4>
                    <p><i class="icon-book"></i></p>
                    <p><br/>Van sushi cards tot workshops</p>
                </div>
            </div><!--/welcome-block-->
            <!-- End Our Services -->

            <p>De <strong class="color-green">Kata</strong> is dé plek waar de CoderDojo community wereldwijd materiaal verzamelt. Hier is ook speciaal voor Nederlandstalig materiaal een pagina opgenomen.</p>
            <br/>
            <p>
                Heb jij in jouw dojo ook materiaal gemaakt? Zorg dan dat dit zo snel mogelijk via de Kata bereikbaar is zodat ook andere dojo's daar gebruik van kunnen maken!
                Heb je nog geen account op de kata? Dan kun je die <strong><a href="http://kata.coderdojo.com/index.php?title=Special:UserLogin&returnto=KataDutch&type=signup" target="_blank">hier</a></strong> aanmaken.
            </p>
            <br/>
            <p><a href="http://kata.coderdojo.com/wiki/KataDutch" target="_blank" class="btn btn-primary btn-block">Naar de Kata&nbsp;&nbsp;&nbsp;&nbsp;<i class="icon-chevron-right"></i></a></p>
        </div><!--/col-md-4-->

        <div class="col-md-4 md-margin-bottom-50">
            <!-- Our Services -->
            <div class="servive-block servive-block-in margin-bottom-20">
                <div class="servive-block-in servive-block-colored servive-block-green">
                    <h4>Documenten</h4>
                    <p><i class="icon-folder-open"></i></p>
                    <p><br/>Algemene documenten voor vrij gebruik</p>
                </div>
            </div><!--/welcome-block-->
            <!-- End Our Services -->

            <p>
                Om snel en makkelijk te beginnen hebben we een aantal documenten op een algemene manier opgezet.
                Deze kun je zo gebruiken, of indien nodig aanpassen aan jouw dojo voordat je ze gebruikt.
            </p>

            <hr>

            <div class="col-sm-12 info-blocks">
                <i class="icon-home icon-info-blocks"></i>
                <div class="info-blocks-in">
                    <h3>Huisregels</h3>
                    <p>Een aantal basisregels zodat bezoekers en mentoren weten wat er wel en niet kan tijdens een dojo.</p>
                    <p><a href="https://drive.google.com/open?id=0B6Zh9qiLPyU3Y2J4WWZydWVkV1k" target="_blank" class="btn btn-block btn-success">Download PDF</a></p>
                </div>
            </div>

            <hr>

            <div class="col-sm-12 info-blocks">
                <i class="icon-group icon-info-blocks"></i>
                <div class="info-blocks-in">
                    <h3>Vrijwilligers Overeenkomst</h3>
                    <p>Afspraken met mentoren om te zorgen dat ze weten wat er van ze verwacht wordt.</p>
                    <p><a href="https://drive.google.com/open?id=0B6Zh9qiLPyU3VkZ2UTVPRnppLWM" target="_blank" class="btn btn-block btn-success">Download PDF</a></p>
                </div>
            </div>

            <hr>

            <div class="col-sm-12 info-blocks">
                <i class="icon-shield icon-info-blocks"></i>
                <div class="info-blocks-in">
                    <h3>Protocol Veiligheid</h3>
                    <p>Om de veiligheid van de kinderen zo goed mogelijk te waarborgen.</p>
                    <p><a href="https://drive.google.com/open?id=0B6Zh9qiLPyU3alNDTzhrbjJxU3M" target="_blank" class="btn btn-block btn-success">Download PDF</a></p>
                </div>
            </div>

            <hr>

            <div class="col-sm-12 info-blocks">
                <i class="icon-briefcase icon-info-blocks"></i>
                <div class="info-blocks-in">
                    <h3>Overig</h3>
                    <p>Bekijk hier alle overige documenten en de bewerkbare word versies</p>
                    <p><a href="https://drive.google.com/open?id=0B6Zh9qiLPyU3fm91ZmFRTk95TlkwejdkVkJ4cDl4blNadnlQNXhlYUFjeHBXZjhwZHYtZTA" target="_blank" class="btn btn-block btn-success">Open in Drive</a></p>
                </div>
            </div>
        </div><!--/col-md-4-->

        <div class="col-md-4 md-margin-bottom-50">
            <!-- Our Services -->
            <div class="servive-block servive-block-in margin-bottom-20">
                <div class="servive-block-in servive-block-colored servive-block-yellow">
                    <h4>Huisstijl</h4>
                    <p><i class="icon-bullhorn"></i></p>
                    <p>Logo&apos;s voor zowel CoderDojo Nederland als individuele dojo&apos;s</p>
                </div>
            </div><!--/welcome-block-->
            <!-- End Our Services -->

            <p>Om te zorgen dat we met alle dojo's in Nederland goed herkenbaar zijn maken we gebruik van een huisstijl. Alle nodige documenten zijn hier te vinden.<br/><br/></p>

            <hr>

            <div class="col-sm-12 info-blocks">
                <i class="icon-info-sign icon-info-blocks"></i>
                <div class="info-blocks-in">
                    <h3>Guidelines</h3>
                    <p>Een overzichtelijk document waarin duidelijk beschreven staat hoe de huisstijl toegepast moet worden.</p>
                    <p><a href="https://drive.google.com/open?id=0B6Zh9qiLPyU3YUtaNGdSMS0ydzA" target="_blank" class="btn btn-block btn-warning">Download PDF</a></p>
                </div>
            </div>

            <hr>

            <div class="col-sm-12 info-blocks">
                <i class="icon-group icon-info-blocks"></i>
                <div class="info-blocks-in">
                    <h3>CoderDojo Nederland</h3>
                    <p>Algemene logo's van CoderDojo Nederland voor zowel print als digitale weergave</p>
                    <p><a href="https://drive.google.com/open?id=0B6Zh9qiLPyU3aG1FZkx3ZWhEenc" target="_blank" class="btn btn-block btn-warning">Open in Drive</a></p>
                </div>
            </div>

            <hr>

            <div class="col-sm-12 info-blocks">
                <i class="icon-user icon-info-blocks"></i>
                <div class="info-blocks-in">
                    <h3>Individuele Dojo's</h3>
                    <p>Alle logo's van de individuele dojo's in Nederland voor zowel print als digitale weergave</p>
                    <p><a href="https://drive.google.com/open?id=0B6Zh9qiLPyU3NHRpOHUwNnUtV3M" target="_blank" class="btn btn-block btn-warning">Open in Drive</a></p>
                </div>
            </div>

            <hr>

            <div class="col-sm-12 info-blocks">
                <i class="icon-bullhorn icon-info-blocks"></i>
                <div class="info-blocks-in">
                    <h3>Promotiemateriaal</h3>
                    <p>Voorbeelden van promotiemateriaal zoals hoodies, flyers en banners.</p>
                    <p><a href="https://drive.google.com/open?id=0B6Zh9qiLPyU3SFI2Y0p2eFRKZTQ" target="_blank" class="btn btn-block btn-warning">Open in Drive</a></p>
                </div>
            </div>
        </div><!--/col-md-4-->
    </div><!--/row-->
</div><!--/container-->
<!--=== End Content Part ===-->

{% endblock %}
