{% extends "CoderdojoWebsiteBundle::index.html.twig" %}

{% block content %}
<!--=== Breadcrumbs ===-->
<div class="breadcrumbs margin-bottom-40">
    <div class="container">
        <h1 class="pull-left">#CodeWeek</h1>
    </div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<!--=== Content Part ===-->
<div class="container">
    <div class="row margin-bottom-30">
        <div class="col-md-6 md-margin-bottom-40">
            <h2 style="line-height:1.5em;">CoderDojo Nederland doet mee<br/>aan de #CodeWeek week!</h2>
            <br/>
            <p>
                Op zaterdag 10 oktober gaat de code week van start. Ook CoderDojo Nederland doet hier weer aan mee met diverse activiteiten. De Codeweek vraagt aandacht voor het belang van leren programmeren. Wij doen ook mee in de vorm van een CoderDojo waar jij samen met je kinderen bij kunt zijn! Tijdens de gratis CoderDojo (workshop) leren jongeren tussen de 7 en 17 jaar alles over programmeren, websites, apps en software.
            <p/>
            <p>
                <strong>Wanneer worden CoderDojo’s gegeven?</strong><br/>
                Op zaterdag 17 oktober worden er 3 CoderDojo’s gegeven.
            <p/>
            <ul>
                <li><a href="http://www.eventbrite.com/e/coderdojo-17-oktober-bplusc-kids-learning-to-create-and-program-computers-tickets-18279527559" target="_blank">Leiden</a></li>
                <li><a href="http://www.eventbrite.nl/e/tickets-coderdojo-amersfoort-1-18104607368" target="_blank">Amersfoort</a></li>
                <li><a href="http://www.eventbrite.nl/e/tickets-coderdojo-utrecht-kick-off-18791042514" target="_blank">Utrecht</a></li>
            </ul>
        </div>

        <div class="col-md-6 md-margin-bottom-40">
            <p></p>
            <div class="responsive-video">
                <iframe src="//www.youtube.com/embed/bGwRKl-n_4Q?rel=0" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div><!--/row-->

    <div class="row margin-bottom-10">
        <div class="col-md-12 md-margin-bottom-40">
            <h2>Partnership met Ziggo</h2>
        </div>
        <div class="col-md-4 md-margin-bottom-40">
            <img src="http://www.codeweek.de/wp-content/uploads/2014/02/codeweek-slider2.jpg" style="width:100%;" alt="#CodeEU"/>
            <a href="https://www.ziggo.com/nl/newsroom/publicaties/3998/ziggo-ondersteunt-coderdojo-rsquo-s-tijdens-codeweek" target="_blank"><img src="{{ asset('bundles/coderdojowebsite/img/ziggo.png') }}" style="width: 100%;" alt="Ziggo"/></a>
        </div>
        <div class="col-md-8 md-margin-bottom-40">
            <p class="margin-bottom-20">
                In 2015 is Ziggo een van de grote partners die CoderDojo Nederland ondersteund.
                Zo heeft Ziggo onder andere zelf een aantal dojos opgezet en helpen ze achter de schermen om CoderDojo Nederland mogelijk te maken.
                Ook tijdens de CodeWeek draagt Ziggo een extra steentje bij door net zoals vorig jaar een Kick Off te organiseren in Nemo.
                Dit jaar organiseert Ziggo óók een speciale dojo in Nieuwpoort bij de Tweede Kamer om aandacht van de parlementsleden te krijgen.
            </p>
            <p>
                Kijk voor meer informatie op de website van <a href="https://www.ziggo.com/nl/newsroom/publicaties/3998/ziggo-ondersteunt-coderdojo-rsquo-s-tijdens-codeweek" target="_blank">Ziggo</a>.
            </p>
        </div>
    </div>

</div><!--/container-->
<!--=== End Content Part ===-->
{% endblock %}

{% block description %}
Op zaterdag 11 oktober worden er twee CoderDojo’s gegeven. De eerste CoderDojo start om 10.30 uur en duurt tot 13.00 uur. De tweede CoderDojo start om 14.00. Tijdens de CoderDojo zijn er mentoren aanwezig die de jongeren begeleiden, maar het uitgangspunt is vooral "zelf doen’’. Enige wat je mee moet nemen is een laptop.
{% endblock %}

{% block fbdescription %}
Op zaterdag 11 oktober worden er twee CoderDojo’s gegeven. De eerste CoderDojo start om 10.30 uur en duurt tot 13.00 uur. De tweede CoderDojo start om 14.00. Tijdens de CoderDojo zijn er mentoren aanwezig die de jongeren begeleiden, maar het uitgangspunt is vooral "zelf doen’’. Enige wat je mee moet nemen is een laptop.
{% endblock %}
