{% extends "CoderdojoWebsiteBundle::index.html.twig" %}

{% block content %}
<!--=== Breadcrumbs ===-->
<div class="breadcrumbs margin-bottom-40">
    <div class="container">
        <h1 class="pull-left">#CodeEU</h1>
    </div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<!--=== Content Part ===-->
<div class="container">
    <div class="row margin-bottom-30">
        <div class="col-md-6 md-margin-bottom-40">
            <h2>CoderDojo doet mee aan de #CodeEU week!</h2>

            <p>
                Op vrijdag 10 oktober gaat de Europese Codeweek van start. Ook Nederland doet mee met een spetterende kick-off in NEMO te Amsterdam. De Codeweek vraagt aandacht voor het belang van leren programmeren. Wij doen ook mee in de vorm van een CoderDojo waar jij samen met je kinderen bij kunt zijn! Tijdens de gratis CoderDojo (workshop) leren jongeren tussen de 7 en 17 jaar alles over programmeren, websites, apps en software.
            <p/>
            <p>
                <strong>Wanneer worden CoderDojo’s gegeven?</strong><br/>
                Op zaterdag 11 oktober worden er twee CoderDojo’s gegeven. De eerste CoderDojo start om 10.30 uur en duurt tot 13.00 uur. De tweede CoderDojo start om 14.00. Tijdens de CoderDojo zijn er mentoren aanwezig die de jongeren begeleiden, maar het uitgangspunt is vooral "zelf doen’’. Enige wat je mee moet nemen is een laptop.
            <p/>
        </div>

        <div class="col-md-6 md-margin-bottom-40">
            <p></p>
            <div class="responsive-video">
                <iframe src="//www.youtube.com/embed/bGwRKl-n_4Q?rel=0" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div><!--/row-->

    <div class="row margin-bottom-10">
        <div class="col-md-12 md-margin-bottom-40">
            <h2>CoderDojo bijwonen?</h2>
            <p class="margin-bottom-20">Lijkt het je leuk om samen met je kinderen één van deze twee CoderDojo’s op zaterdag 11 oktober bij te wonen? Of vind je het leuk om als mentor bij een CoderDojo aanwezig te zijn? Meld je dan snel aan via onderstaand formulier. Let op: het aantal plaatsen is beperkt. Je kunt op die dag ook gratis de nieuwe tentoonstelling <a href="https://www.e-nemo.nl/nl/bezoek/tentoonstellingen/wonder-of-wetenschap/" target="_blank">’Wonder of Wetenschap’ in Science Center NEMO</a> bezichtigen.</p>
        </div>
    </div>

    <div class="row margin-bottom-30">
        <div class="col-md-3 md-margin-bottom-40">
            <img src="https://coderdojo.com/wp-content/uploads/2014/09/Eu-codeweek-222x300.png" style="float:left;margin-right:20px;margin-bottom:20px;" width="222" height="300" alt="#CodeEU"/>
        </div>
        <div class="col-md-9 md-margin-bottom-40">
            <iframe src="//eventbrite.nl/tickets-external?eid=13326593199&amp;ref=etckt" width="100%" height="400" frameborder="0" marginwidth="5" marginheight="5" scrolling="auto"></iframe>
        </div>
    </div>

</div><!--/container-->
<!--=== End Content Part ===-->
{% endblock %}

{% block description %}
Op zaterdag 11 oktober worden er twee CoderDojo’s gegeven. De eerste CoderDojo start om 10.30 uur en duurt tot 13.00 uur. De tweede CoderDojo start om 14.00. Tijdens de CoderDojo zijn er mentoren aanwezig die de jongeren begeleiden, maar het uitgangspunt is vooral "zelf doen’’. Enige wat je mee moet nemen is een laptop.
{% endblock %}

{% block fbdescription %}
Op zaterdag 11 oktober worden er twee CoderDojo’s gegeven. De eerste CoderDojo start om 10.30 uur en duurt tot 13.00 uur. De tweede CoderDojo start om 14.00. Tijdens de CoderDojo zijn er mentoren aanwezig die de jongeren begeleiden, maar het uitgangspunt is vooral "zelf doen’’. Enige wat je mee moet nemen is een laptop.
{% endblock %}
