{% extends "CoderdojoWebsiteBundle::index.html.twig" %}

{% block content %}
{% include "CoderdojoWebsiteBundle:Snippets:Slider.html.twig" %}
<!--=== Content Part ===-->
<div class="container">
    <!--Title Box-->
    <div class="title-box">
        <div class="title-box-text">Doe mee met <span class="color-green">CoderDojo!</span></div>
        <iframe width="640" height="360" src="//www.youtube.com/embed/GLtoyfbPj_U" frameborder="0" allowfullscreen style="margin:20px 0"></iframe>
        <p>Bij CoderDojo kunnen kinderen van 7 t/m 17 jaar leren programmeren. Dit wordt helemaal gratis verzorgd door vrijwilligers!<br/>Ben je ouder? Wordt dan mentor bij een Dojo of start jouw eigen CoderDojo!</p>
    </div>
    <!--End Promo Box-->

    <!--Promo Box-->
    <div class="row">
        <div class="col-md-4">
            <div class="promo-box">
                <i class="icon-eur color-blue"></i>
                <strong>Gratis en Vrijblijvend</strong>
                <p>Omdat CoderDojo geheel door vrijwilligers wordt opgezet is het helemaal gratis en voor iedereen tussen de 7 en 17 jaar toegankelijk!</p>
            </div>
        </div>

        <div class="col-md-4">
            <div class="promo-box">
                <i class="icon-calendar color-orange"></i>
                <strong>Regelmatig</strong>
                <p>Elke Dojo streeft er naar om minimaal één keer per maand open te zijn. In sommige gevallen zelfs vaker!</p>
            </div>
        </div>

        <div class="col-md-4">
            <div class="promo-box">
                <i class="icon-map-marker color-sea"></i>
                <strong>Bij jou in de buurt</strong>
                <p>CoderDojo wordt over de hele wereld gehouden, dus ook bij jou in de buurt. Kun je geen Dojo vinden? Start er zelf één!</p>
            </div>
        </div>
    </div>
    <!--End Promo Box-->

    <div class="clearfix margin-bottom-40"></div>

    <!--Our Work-->
    <div class="row service-v1 margin-bottom-40">
        <div class="col-md-4 md-margin-bottom-40">
            <iframe width="100%" height="240" src="//www.youtube.com/embed/y1kJys-BhAU" frameborder="0" allowfullscreen></iframe>
            <h2>CoderDojo Rotterdam</h2>
            <p>In Rotterdam hebben we een vliegende start gehad. Er is nu ruimte voor 25 deelnemers per editie, maar binnenkort zal dit snel groter worden.</p>
        </div>
        <div class="col-md-4">
            <iframe src="//player.vimeo.com/video/82288251" width="100%" height="240" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            <h2>CoderDojo Amsterdam</h2>
            <p>De Amsterdamse tak van CoderDojo is al in een stabiel stadium. Elke maand is er op twee plaatsen een editie te vinden!</p>
        </div>
        <div class="col-md-4 md-margin-bottom-40">
            <img src="http://digivita.nl/wp-content/uploads/2014/01/Activiteiten_Coder-dojo-1.jpg"/ class="img-responsive" alt="CoderDojo Leiden for Girls">

            <h2>CoderDojo Leiden</h2>
            <p>De meest verse toevoeging aan het Nederlandse arsenaal van CoderDojo is Leiden. Ook hier is een vliegende start gemaakt!</p>
        </div>
    </div>
    <!--End Our Work-->

    <hr class="margin-bottom-40">

    <!-- Info Blcoks -->
    <div class="row">
        <div class="col-sm-4 info-blocks">
            <i class="icon-code icon-info-blocks"></i>
            <div class="info-blocks-in">
                <h3>Programmeren</h3>
                <p>Bij CoderDojo kun je alles leren over programmeren. Denk hierbij aan websites, games, apps of zelfs robots!</p>
            </div>
        </div>
        <div class="col-sm-4 info-blocks">
            <i class="icon-cog icon-info-blocks"></i>
            <div class="info-blocks-in">
                <h3>Aan de slag met techniek</h3>
                <p>Naast digitale projecten kun je bij CoderDojo ook aan de slag met bijvoorbeeld Arduino om zelf apparaten te bouwen.</p>
            </div>
        </div>
        <div class="col-sm-4 info-blocks">
            <i class="icon-question icon-info-blocks"></i>
            <div class="info-blocks-in">
                <h3>Zit je vast met jouw project?</h3>
                <p>Ben je zelf met een project bezig en kom je er even niet uit? Kom dan naar een CoderDojo, hier zijn ongetwijfeld mensen die je verder kunnen helpen.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 info-blocks">
            <i class="icon-rocket icon-info-blocks"></i>
            <div class="info-blocks-in">
                <h3>Games</h3>
                <p>Gamen is natuurlijk een groot onderdeel in het leven van een developer. Niet alleen games bouwen, maar ook games spelen hoort bij CoderDojo!</p>
            </div>
        </div>
        <div class="col-sm-4 info-blocks">
            <i class="icon-group icon-info-blocks"></i>
            <div class="info-blocks-in">
                <h3>Leer anderen mensen kennen</h3>
                <p>De sfeer bij CoderDojo is heel open en iedereen is welkom! Zo kun je snel andere mensen leren kennen met dezelfde interesses.</p>
            </div>
        </div>
        <div class="col-sm-4 info-blocks">
            <i class="icon-food icon-info-blocks"></i>
            <div class="info-blocks-in">
                <h3>Pizza!</h3>
                <p>Developen en pizza eten gaan hand in hand. Daarom oefenen we dit soms door &apos;s avonds met zijn allen pizza te bestellen!</p>
            </div>
        </div>
    </div>
    <!--End Info Blcoks -->

    <hr class="margin-bottom-50">

    <!--Service Block-->
    <div class="row promo-service">
        <div class="col-md-6 md-margin-bottom-20">
            <h2>Wil je mee helpen met CoderDojo?</h2>
            <p>CoderDojo is altijd op zoek naar vrijwilligers! Ben je enthousiast geworden over CoderDojo en lijkt het je leuk om hiervan deel uit te maken? Cool! Je kan jezelf opgeven als mentor bij je lokale CoderDojo of zelf een Dojo starten als je je in één of meerdere van onderstaande dingen kan vinden:</p>
            <ul class="list-unstyled">
                <li><i class="icon-angle-right color-green"></i>Developer die kennis wilt delen</li>
                <li><i class="icon-angle-right color-green"></i>Ruimte beschikbaar stellen</li>
                <li><i class="icon-angle-right color-green"></i>Promotie van een Dojo</li>
                <li><i class="icon-angle-right color-green"></i>Begeleiden van een Dojo</li>
                <li><i class="icon-angle-right color-green"></i>Gastsprekers regelen</li>
            </ul>
            <br>
            <a href="#" class="btn-u btn-u-lg btn-u-sea"><i class="icon-plus-sign-alt"></i> Start een Dojo</a>
            <a href="#" class="btn-u btn-u-lg btn-u-blue"><i class="icon-ok-sign"></i> Help een Dojo</a>
        </div>

        <div class="col-md-6">
            <iframe width="100%" height="350" src="//www.youtube.com/embed/Z1yL3gfJRlQ" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    <!--End Service Block-->
</div>
<!-- End Content Part -->
{% endblock %}
