{% extends "CoderdojoWebsiteBundle::index.html.twig" %}

{% block content %}
    <!--=== Breadcrumbs ===-->
    <div class="breadcrumbs margin-bottom-40">
        <div class="container">
            <h1 class="pull-left">Beheer jouw Dojos</h1>
        </div><!--/container-->
    </div><!--/breadcrumbs-->
    <!--=== End Breadcrumbs ===-->

    <div class="container">
        <div class="row margin-bottom-30">
            <div class="col-md-8 col-md-offset-2 md-margin-bottom-40">
                <form class="form-inline" role="form" id="newDojo">
                    <div class="form-group">
                        <label class="sr-only" for="eid">Eventbrite ID</label>
                        <input type="text" class="form-control" id="eid" placeholder="Eventbrite ID">
                    </div>
                    <button type="submit" class="btn-u btn-u-green">Dojo Toevoegen</button>
                    <div class="form-group">
                        <p style="color:#F00 !important;" id="error"></p>
                    </div>
                </form>
                <br/>
                <div class="panel panel-green margin-bottom-40">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class=" icon-calendar-empty"></i> Jouw dojo&apos;s</h3>
                    </div>
                    <div class="panel-body">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Naam</th>
                                <th>Datum</th>
                                <th>Link</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if dojos|length > 0 %}
                                {% for dojo in dojos %}
                                <tr>
                                    <td>{{ dojo.name }}</td>
                                    <td>{{ dojo.date|date("d/m/Y") }}</td>
                                    <td><a href="{{ dojo.url }}" target="_blank" class="btn btn-success btn-xs"><i class=" icon-external-link"></i> Inschrijven</a></td>
                                </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td style="text-align:center;" colspan="3">Er zijn momenteel geen edities gepland</td>
                                </tr>
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" language="javascript">
        $("#newDojo").on("submit", function(e){
            e.preventDefault();

            var eid = $("#eid").val();

            $.ajax({
                method: "GET",
                url: "{{ path('new-dojo') }}",
                data: { eid: eid }
            })
            .done(function(msg) {
                if(msg == "ok") {
                    location.reload();
                }else{
                    $("#error").html(msg);
                }
            })
            .fail(function(msg){
                $("#error").html("Er is iets mis gegaan!");
            });

            return false;
        });
    </script>
{% endblock %}

{% block description %}
    In heel Nederland worden er CoderDojo's gehouden. Kijk hier waar er een bij jou in de buurt is!
{% endblock %}

{% block fbdescription %}
    In heel Nederland worden er CoderDojo's gehouden. Kijk hier waar er een bij jou in de buurt is!
{% endblock %}
