{% extends "CoderdojoWebsiteBundle::index.html.twig" %}

{% block content %}
<!--=== Breadcrumbs ===-->
<div class="breadcrumbs margin-bottom-40">
    <div class="container">
        <h1 class="pull-left">Stichting Informatie</h1>
    </div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<!--=== Content Part ===-->
<div class="container">
    <div class="row margin-bottom-30">
        <div class="col-md-4 md-margin-bottom-40">
            <table>
                <tbody>
                <tr>
                    <td width="110"><strong>Officiële naam:</strong></td>
                    <td>Stichting CoderDojo Nederland</td>
                </tr>
                <tr>
                    <td><strong>Publieke naam:</strong></td>
                    <td>CoderDojo Nederland</td>
                </tr>
                </tbody>
            </table>
            &nbsp;
            <table>
                <tbody>
                <tr>
                    <td width="110"><strong>KvK:</strong></td>
                    <td>64468917</td>
                </tr>
                <tr>
                    <td><strong>RSIN:</strong></td>
                    <td>855679153</td>
                </tr>
                <tr>
                    <td><strong>Rekening:</strong></td>
                    <td>NL75 INGB 0007 0700 67</td>
                </tr>
                </tbody>
            </table>
            &nbsp;
            <table>
                <tbody>
                <tr>
                    <td width="110"><strong>Email:</strong></td>
                    <td>contact@coderdojo.nl</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="col-md-8 md-margin-bottom-40">
            <div class="row margin-top-30">
                <div class="col-md-4 md-margin-bottom-30">
                    <strong>Voorzitter</strong><br/>
                    Christian Vermeulen
                    <img style="width:100%;" src="http://coderdojo-rotterdam.nl/wp-content/uploads/2014/10/interview-273x273.jpg" alt="Voorzitter - Christian Vermeulen" />
                </div>

                <div class="col-md-4 md-margin-bottom-30">
                    <strong>Penningmeester</strong><br/>
                    Giselle M. Pereira
                    <img style="width:100%;" src="http://coderdojo-rotterdam.nl/wp-content/uploads/2014/08/giselle-e1412339736262-273x273.jpg" alt="Penningmeester - Giselle M. Pereira"/>
                </div>

                <div class="col-md-4 md-margin-bottom-30">
                    <strong>Secretaris</strong><br/>
                    Tiemen Waterreus
                    <img style="width:100%;" src="http://coderdojo-rotterdam.nl/wp-content/uploads/2014/08/selfie-273x273.png" alt="Secretaris - Tiemen Waterreus"/>
                </div>
            </div>
        </div>
    </div><!--/row-->

    <hr>

    <div class="row margin-bottom-10">
        <div class="col-md-12 md-margin-bottom-40">
            <h2>Partnership met Ziggo</h2>
        </div>
        <div class="col-md-8 md-margin-bottom-40">
            <p class="margin-bottom-20">
                Ziggo is ambassadeur van CoderDojo. Samen met CoderDojo en lokale partners heeft Ziggo de ambitie in 2016 minimaal 10.000 jongeren in Nederland kennis te laten maken met programmeren.
                Ziggo wil jongeren de mogelijkheden van de digitale wereld zo optimaal mogelijk laten benutten en bereidt ze graag voor op hun toekomst door hen vroegtijdig kennis te laten maken met techniek. Door te programmeren leren kinderen logisch en creatief denken, ontdekken ze de mogelijkheden van technologie en wordt onze nieuwe creatieve generatie voorbereid op de banen van de toekomst. Op dit moment hebben veel jongeren nog te weinig vaardigheden voor toekomstige banen, waarbij IT centraal staat. De voorspelling is dat in 2020 in Europa ruim 800.000 banen niet ingevuld worden als we niets doen. Gelukkig werken allerlei partijen in Nederland en andere Europese landen samen om met elkaar op tijd klaar te zijn voor de toekomst.
            </p>
            <p>
                Kijk voor meer informatie op de website van <a href="https://www.ziggo.nl/actueel/nieuws/jong-leren-coderen/" target="_blank">Ziggo</a>.
            </p>
        </div>
        <div class="col-md-4 md-margin-bottom-40">
            <a href="https://www.ziggo.com/nl/newsroom/publicaties/3998/ziggo-ondersteunt-coderdojo-rsquo-s-tijdens-codeweek" target="_blank"><img src="{{ asset('bundles/coderdojowebsite/img/ziggo.png') }}" style="width: 100%;" alt="Ziggo"/></a>
        </div>
    </div>

</div><!--/container-->
<!--=== End Content Part ===-->
{% endblock %}

{% block description %}
Op zaterdag 11 oktober worden er twee CoderDojo’s gegeven. De eerste CoderDojo start om 10.30 uur en duurt tot 13.00 uur. De tweede CoderDojo start om 14.00. Tijdens de CoderDojo zijn er mentoren aanwezig die de jongeren begeleiden, maar het uitgangspunt is vooral "zelf doen’’. Enige wat je mee moet nemen is een laptop.
{% endblock %}

{% block fbdescription %}
Op zaterdag 11 oktober worden er twee CoderDojo’s gegeven. De eerste CoderDojo start om 10.30 uur en duurt tot 13.00 uur. De tweede CoderDojo start om 14.00. Tijdens de CoderDojo zijn er mentoren aanwezig die de jongeren begeleiden, maar het uitgangspunt is vooral "zelf doen’’. Enige wat je mee moet nemen is een laptop.
{% endblock %}
