{% extends "CoderdojoWebsiteBundle::index.html.twig" %}

{% block title %}Code Qube On Tour &mdash; Samenwerkingen &mdash; {{ parent() }}{% endblock %}
{% block fbtitle %}Code Qube On Tour &mdash; Samenwerkingen &mdash; {{ parent() }}{% endblock %}
{% block og_image %}https://www.coderdojo.nl{{asset('bundles/coderdojowebsite/img/codeqube_ontour.png')}}{% endblock %}

{% block description %}
In 2016 gaat de Code Qube on Tour door heel Nederland. Maar liefst 20 dojos komen aan bod!
{% endblock %}

{% block fbdescription %}
    In 2016 gaat de Code Qube on Tour door heel Nederland. Maar liefst 20 dojos komen aan bod!
{% endblock %}

{% block customjs %}
    <script type="text/javascript">
        mixpanel.track("View Code Qube Page");
    </script>
{% endblock %}

{% block content %}
<!--=== Breadcrumbs ===-->
<div class="breadcrumbs margin-bottom-40">
    <div class="container">
        <h1 class="pull-left">Code Qube On Tour</h1>
    </div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<!--=== Content Part ===-->
<div class="container">

    <div class="row">
        <div class="col-md-8 col-md-push-2 col-sm-12 col-sm-push-0 text-center margin-bottom-10">
            <img src="{{ asset('bundles/coderdojowebsite/img/codeqube_vertical.png') }}" style="width: 50%;" alt="CodeQube"/>
        </div>
    </div>
    <div class="row margin-bottom-30">
        <div class="col-md-8 col-md-push-2 col-sm-12 col-sm-push-0">
            <p class="margin-bottom-20">
                De Code Qube is voortgekomen uit een afstudeerproject van twee studenten CMD aan de Avans Hogeschool Breda. Tijdens de ontwikkeling van het concept zijn ze al een aantal keer bij de Dojo
                in Rotterdam langs geweest om het product te testen. Nadat ze met succes zijn afgestudeerd hebben ze besloten om door te gaan en de Code Qube op de markt te brengen.
                Omdat CoderDojo Nederland volledig achter dit product staat en het belangrijk vind dat dit op de markt komt gaat de Code Qube in 2016 op tour door het hele land.
                Bij 20 dojo's zal de Code Qube langs komen om een middag HTML les voor kinderen te verzorgen.
            </p>
            <p class="text-center">
                <span class="text-danger"><strong>Let op, er is momenteel geen plek meer.</strong><br/>Bij genoeg aanmelding proberen we extra plekken te regelen!</span>
            </p>
            <p class="text-center">
                <a href="http://goo.gl/forms/j8PLgu2K11" target="_blank" class="btn-u btn-u-blue margin-bottom-10">Meld jouw dojo aan&nbsp;&nbsp;&nbsp;&nbsp;<i class="icon-chevron-right"></i></a><br/>
                <a href="http://www.codeqube.nl" target="_blank">www.codeqube.nl</a> | <a href="mailto: info@codeqube.nl" target="_blank">info@codeqube.nl</a>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="headline">
                <h2>Wat is de Code Qube?</h2>
            </div>
            <div class="responsive-video margin-bottom-40 margin-top-0">
                <iframe width="640" height="360" src="//www.youtube.com/embed/E3CSU0hFi2c" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-md-4">
            <div class="headline">
                <h2>Waar is de Code Qube?</h2>
            </div>
            <p class="margin-bottom-20">Tijdens de Code Qube on Tour staan de volgende dojo's gepland:</p>
            <table class="table">
                <tbody>
                    <tr {% if date() > date('2016-4-2') %}class="text-muted"{% endif %}>
                        <td><strong>2 april</strong></td>
                        <td>Den Haag</td>
                    </tr>
                    <tr {% if date() > date('2016-4-16') %}class="text-muted"{% endif %}>
                        <td><strong>16 april</strong></td>
                        <td>Oss</td>
                    </tr>
                    <tr {% if date() > date('2016-4-29') %}class="text-muted"{% endif %}>
                        <td><strong>29 april</strong></td>
                        <td>Wommels</td>
                    </tr>
                    <tr {% if date() > date('2016-5-14') %}class="text-muted"{% endif %}>
                        <td><strong>14 mei</strong></td>
                        <td>Kennemerwaard</td>
                    </tr>
                    <tr {% if date() > date('2016-5-28') %}class="text-muted"{% endif %}>
                        <td><strong>28 mei</strong></td>
                        <td>Spijkenisse</td>
                    </tr>
                    <tr {% if date() > date('2016-6-4') %}class="text-muted"{% endif %}>
                        <td><strong>4 juni</strong></td>
                        <td>Delft</td>
                    </tr>
                    <tr {% if date() > date('2016-6-18') %}class="text-muted"{% endif %}>
                        <td><strong>18 juni</strong></td>
                        <td>Westland</td>
                    </tr>
                    <tr {% if date() > date('2016-6-25') %}class="text-muted"{% endif %}>
                        <td><strong>25 juni</strong></td>
                        <td>Leidsche Rijn</td>
                    </tr>
                    <tr {% if date() > date('2016-6-25') %}class="text-muted"{% endif %}>
                        <td><strong>25 juni</strong></td>
                        <td>Rotterdam (Startup Foundation)</td>
                    </tr>
                    <tr {% if date() > date('2016-7-2') %}class="text-muted"{% endif %}>
                        <td><strong>2 juli</strong></td>
                        <td>Nijmegen</td>
                    </tr>
                    <tr {% if date() > date('2016-7-2') %}class="text-muted"{% endif %}>
                        <td><strong>2 juli</strong></td>
                        <td>Uden</td>
                    </tr>
                    <tr {% if date() > date('2016-7-9') %}class="text-muted"{% endif %}>
                        <td><strong>9 juli</strong></td>
                        <td>Helmond</td>
                    </tr>
                    <tr {% if date() > date('2016-7-16') %}class="text-muted"{% endif %}>
                        <td><strong>16 juli</strong></td>
                        <td>Leiden</td>
                    </tr>
                    <tr {% if date() > date('2016-9-3') %}class="text-muted"{% endif %}>
                        <td><strong>3 september</strong></td>
                        <td>Zwolle</td>
                    </tr>
                    <tr {% if date() > date('2016-9-3') %}class="text-muted"{% endif %}>
                        <td><strong>3 september</strong></td>
                        <td>Woerden</td>
                    </tr>
                    <tr {% if date() > date('2016-9-23') %}class="text-muted"{% endif %}>
                        <td><strong>23 september</strong></td>
                        <td>Joure</td>
                    </tr>
                    <tr {% if date() > date('2016-9-24') %}class="text-muted"{% endif %}>
                        <td><strong>24 september</strong></td>
                        <td>Groningen (SEIF)</td>
                    </tr>
                    <tr {% if date() > date('2016-09-30') %}class="text-muted"{% endif %}>
                        <td><strong>30 september</strong></td>
                        <td>Sneek</td>
                    </tr>
                    <tr {% if date() > date('2016-10-15') %}class="text-muted"{% endif %}>
                        <td><strong>15 oktober</strong></td>
                        <td>Amersfoort</td>
                    </tr>
                    <tr {% if date() > date('2016-11-19') %}class="text-muted"{% endif %}>
                        <td><strong>19 november</strong></td>
                        <td>Amsterdam</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row margin-bottom-50">
        <div class="col-md-12">
            <div class="headline">
                <h2>#CodeQubeOnTour</h2>
            </div>
            <p class="text-right">
                <a href="https://twitter.com/search?src=typd&q=%23CodeQubeOnTour" target="_blank" class="btn-u btn-u-blue">
                    Volg op op Twitter&nbsp;&nbsp;&nbsp;&nbsp;
                    <i class="icon-chevron-right"></i>
                </a>
            </p>
        </div>
        <div class="col-md-4">
            <blockquote class="twitter-tweet" data-lang="nl"><p lang="nl" dir="ltr"><a href="https://twitter.com/hashtag/codequbeontour?src=hash">#codequbeontour</a> bij <a href="https://twitter.com/CoderDojoOss">@CoderDojoOss</a>. Zo leer je een website bouwen... Ook mooi voor scholen <a href="https://twitter.com/skbo_oss">@skbo_oss</a> <a href="https://t.co/hNhQvLUSxY">pic.twitter.com/hNhQvLUSxY</a></p>&mdash; josephine crompvoets (@CrompvoetsJ) <a href="https://twitter.com/CrompvoetsJ/status/721352092464586752">16 april 2016</a></blockquote>
        </div>
        <div class="col-md-4">
            <blockquote class="twitter-tweet" data-lang="en"><p lang="nl" dir="ltr">Vandaag zijn wij de eerste CoderDojo die <a href="https://twitter.com/codeqube">@codeqube</a> te gast hebben <a href="https://t.co/jl79NNrUvR">pic.twitter.com/jl79NNrUvR</a></p>&mdash; CoderDojo Den Haag (@CoderDojoDH) <a href="https://twitter.com/CoderDojoDH/status/716240860363558912">April 2, 2016</a></blockquote>
        </div>
        <div class="col-md-4">
            <blockquote class="twitter-tweet" data-lang="en"><p lang="nl" dir="ltr">Morgen starten we met <a href="https://twitter.com/hashtag/codequbeontour?src=hash">#codequbeontour</a> bij <a href="https://twitter.com/CoderDojoDHaag">@CoderDojoDHaag</a>! Kom jij ook een kijkje nemen bij de <a href="https://twitter.com/hashtag/codeqube?src=hash">#codeqube</a>? <a href="https://t.co/0Qz1Xj2Vtd">pic.twitter.com/0Qz1Xj2Vtd</a></p>&mdash; Code Qube (@codeqube) <a href="https://twitter.com/codeqube/status/715995065026551810">April 1, 2016</a></blockquote>
        </div>
    </div>
</div><!--/container-->
<!--=== End Content Part ===-->

<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
{% endblock %}
