{% extends "CoderdojoWebsiteBundle::index.html.twig" %}

{% block title %}EU CodeWeek 2016 &mdash; Samenwerkingen &mdash; {{ parent() }}{% endblock %}
{% block fbtitle %}Eu CodeWeek 2016 &mdash; Samenwerkingen &mdash; {{ parent() }}{% endblock %}
{% block og_image %}https://www.coderdojo.nl{{asset('bundles/coderdojowebsite/img/fb_codeweek.png')}}{% endblock %}

{% block description %}
    Van 15 tot en met 23 oktober is het weer tijd voor de EU CodeWeek! Bekijk hier wat er gebeurd in CoderDojo-land.
{% endblock %}

{% block fbdescription %}
    Van 15 tot en met 23 oktober is het weer tijd voor de EU CodeWeek! Bekijk hier wat er gebeurd in CoderDojo-land.
{% endblock %}

{% block content %}
<!--=== Breadcrumbs ===-->
<div class="breadcrumbs margin-bottom-40">
    <div class="container">
        <h1 class="pull-left">EU CodeWeek 2016</h1>
    </div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<!--=== Content Part ===-->
<div class="container">

    <div class="row">
        <div class="col-md-8 col-md-push-2 col-sm-12 col-sm-push-0 text-center margin-bottom-10">
            <img src="{{ asset('bundles/coderdojowebsite/img/cover_codeweek.png') }}" style="width:100%;" alt="EU CodeWeek"/>
        </div>
    </div>
    <div class="row margin-bottom-30">
        <div class="col-md-8 col-md-push-2 col-sm-12 col-sm-push-0">
            <p class="margin-bottom-20">
                Sinds 2013 vind jaarlijks de EU CodeWeek plaats. Deze wordt altijd in oktober gepland en valt dit jaar
                van 15 tot en met 23 oktober. Deze week is in het leven geroepen om meer aandacht te vestigen op
                op de mogelijkheden van programmeren en hoe je hiermee creatieve ideeen en concepten tot leven kan wekken.
            </p>
            <p class="margin-bottom-20">
                Dit jaar is ook CoderDojo Nederland ambassadeur van de EU CodeWeek en sporen wij al onze dojo's aan om
                hier bij aan te sluiten met hun events. Op deze pagina kun je zien wat er zoal in CoderDojo-land gebeurd
                tijdens deze week.
            </p>
            <p class="text-center">
                <a href="http://codeweek.eu" target="_blank" class="btn-u btn-u-blue margin-bottom-10">Meer info op codeweek.eu&nbsp;&nbsp;&nbsp;&nbsp;<i class="icon-chevron-right"></i></a>
            </p>
            <!--
            <p class="text-center">
                <a href="http://goo.gl/forms/j8PLgu2K11" target="_blank" class="btn-u btn-u-blue margin-bottom-10">Meld jouw dojo aan&nbsp;&nbsp;&nbsp;&nbsp;<i class="icon-chevron-right"></i></a><br/>
                <a href="http://www.codeqube.nl" target="_blank">www.codeweek.eu</a> | <a href="mailto: info@codeweek.eu" target="_blank">info@codeqube.nl</a>
            </p>
            -->
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="headline">
                <h2>Wat is de EU CodeWeek?</h2>
            </div>
            <div class="responsive-video margin-bottom-40 margin-top-0">
                <iframe width="640" height="360" src="//www.youtube.com/embed/TNwE3FA4pdI" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-md-6">
            <div class="headline">
                <h2>Waar is de EU CodeWeek?</h2>
            </div>
            <p class="margin-bottom-20">Tijdens de EU CodeWeek staan de volgende events gepland:</p>
            <table class="table">
                <tbody>
                    <tr {% if date() > date('2016-10-13') %}class="text-muted"{% endif %}>
                        <td><strong>13 Oktober - Den Haag</strong></td>
                        <td><a href="https://conprog.org/" target="_blank">ConProg - Congres Programmeeronderwijs</a></td>
                    </tr>
                    <tr {% if date() > date('2016-10-15') %}class="text-muted"{% endif %}>
                        <td><strong>15 Oktober - Ede</strong></td>
                        <td><a href="https://www.eventbrite.nl/e/tickets-coderdojo-3-26747932787" target="_blank">CoderDojo</a> <span class="label label-success">Vol</span></td>
                    </tr>
                    <tr {% if date() > date('2016-10-15') %}class="text-muted"{% endif %}>
                        <td><strong>15 Oktober - Tilburg</strong></td>
                        <td><a href="https://zen.coderdojo.com/dojo/nl/tilburg/tilburg-code-brabant-bibliotheek-midden-brabant" target="_blank">CoderDojo</a></td>
                    </tr>
                    <tr {% if date() > date('2016-10-15') %}class="text-muted"{% endif %}>
                        <td><strong>15 Oktober - Goirle</strong></td>
                        <td><a href="https://zen.coderdojo.com/dojo/nl/tilburg/tilburg-code-brabant-bibliotheek-midden-brabant" target="_blank">CoderDojo</a></td>
                    </tr>
                    <tr {% if date() > date('2016-10-15') %}class="text-muted"{% endif %}>
                        <td><strong>15 Oktober - Waalwijk</strong></td>
                        <td><a href="https://zen.coderdojo.com/dojo/nl/tilburg/tilburg-code-brabant-bibliotheek-midden-brabant" target="_blank">CoderDojo</a></td>
                    </tr>
                    <tr {% if date() > date('2016-10-15') %}class="text-muted"{% endif %}>
                        <td><strong>15 Oktober - Wateringen</strong></td>
                        <td><a href="http://wise-webcat.probiblio.nl/cgi-bin/bx.pl?vestnr=6026;a_id=2515;event=tickw_uitvsel;u_id=3469;sid=2c67e777-b4c0-41f3-bb88-55a11d27cc01;prt=INTERNET;taal=nl_NL;var=portal" target="_blank">CoderDojo</a> <span class="label label-success">Vol</span></td>
                    </tr>
                    <tr {% if date() > date('2016-10-15') %}class="text-muted"{% endif %}>
                        <td><strong>15 Oktober - Enschede</strong></td>
                        <td><a href="https://www.eventbrite.com/e/registratie-coderdojo-enschede-codeweek-28009102981" target="_blank">CoderDojo</a></td>
                    </tr>
                    <tr {% if date() > date('2016-10-15') %}class="text-muted"{% endif %}>
                        <td><strong>15 Oktober - Amsterdam</strong></td>
                        <td><a href="https://www.facebook.com/events/1468270723199393/" target="_blank">CoderDojo Boek @ Scheltema</a></td>
                    </tr>
                    <tr {% if date() > date('2016-10-15') %}class="text-muted"{% endif %}>
                        <td><strong>15 Oktober - Kennemerwaard</strong></td>
                        <td><a href="https://www.eventbrite.nl/e/tickets-coderdojo-kennemerwaard-26660941594" target="_blank">CoderDojo</a></td>
                    </tr>
                    <tr {% if date() > date('2016-10-15') %}class="text-muted"{% endif %}>
                        <td><strong>15 Oktober - Den Haag</strong></td>
                        <td><a href="http://www.eventbrite.nl/e/registratie-coderdojo-den-haag-15-oktober-2016-22496091415" target="_blank">CoderDojo ism CodeCombat</a> <span class="label label-success">Vol</span></td>
                    </tr>
                    <tr {% if date() > date('2016-10-15') %}class="text-muted"{% endif %}>
                        <td><strong>15 Oktober - Leiden</strong></td>
                        <td><a href="https://www.eventbrite.nl/e/registratie-coderdojo-leiden-29-java-28333488226" target="_blank">CoderDojo</a></td>
                    </tr>
                    <tr {% if date() > date('2016-10-15') %}class="text-muted"{% endif %}>
                        <td><strong>15 Oktober - Utrecht</strong></td>
                        <td><a href="https://www.eventbrite.nl/e/tickets-coderdojo-xl-utrecht-15-op-15-oktober-2016-27441769070" target="_blank">CoderDojo XL</a> <span class="label label-success">Vol</span></td>
                    </tr>
                    <tr {% if date() > date('2016-10-15') %}class="text-muted"{% endif %}>
                        <td><strong>15 Oktober - Arnhem </strong></td>
                        <td><a href="https://www.eventbrite.nl/e/tickets-coderdojo-arnhem-3-minecraft-27748672025">Minecraft special bij Erfgoedcentrum Rozet</a> <span class="label label-success">Vol</span></td>
                    </tr>
                    <tr {% if date() > date('2016-10-15') %}class="text-muted"{% endif %}>
                        <td><strong>15 Oktober - Spijkenisse </strong></td>
                        <td><a href="http://www.deboekenberg.nl/agenda/activiteiten/minecraft-festival.html">Minecraft Festival</a></td>
                    </tr>
                    <tr {% if date() > date('2016-10-15') %}class="text-muted"{% endif %}>
                        <td><strong>15 Oktober - Zoetermeer </strong></td>
                        <td><a href="https://www.eventbrite.nl/e/tickets-coderdojo-zoetermeer-15-oktober-283813092605">CoderDojo (1e editie)</a> <span class="label label-success">Vol</span></td>
                    </tr>
                    <tr {% if date() > date('2016-10-17') %}class="text-muted"{% endif %}>
                        <td><strong>17 Oktober - Den Haag</strong></td>
                        <td>CoderDojo bij <a href="https://www.eventbrite.nl/e/tickets-coderdojo-in-madurodam-special-27771394990" target="_blank">Madorudam</a> <span class="label label-success">Vol</span></td>
                    </tr>
                    <tr {% if date() > date('2016-10-17') %}class="text-muted"{% endif %}>
                        <td><strong>17 Oktober - Kennemerwaard</strong></td>
                        <td>CoderDojo voor <a href="https://www.bibliotheekkennemerwaard.nl/activiteiten-algemeen/846-coderdojo-voor-volwassenen">volwassenen</a></td>
                    </tr>
                    <tr {% if date() > date('2016-10-19') %}class="text-muted"{% endif %}>
                        <td><strong>19 Oktober - Eindhoven</strong></td>
                        <td><a href="https://www.eventbrite.nl/e/tickets-coderdojo-girls-only-28249909239" target="_blank">Girls only Dojo met 100 meisjes</a></td>
                    </tr>
                    <tr {% if date() > date('2016-10-19') %}class="text-muted"{% endif %}>
                        <td><strong>19 Oktober - Leeuwarden</strong></td>
                        <td><a href="https://www.eventbrite.nl/e/tickets-coderdojo-leeuwarden-codeweek-scratch-27949033311">CoderDojo bij Ziggo</a></td>
                    </tr>
                    <tr {% if date() > date('2016-10-19') %}class="text-muted"{% endif %}>
                        <td><strong>19 Oktober - Tilburg</strong></td>
                        <td><a href="https://zen.coderdojo.com/dojo/nl/tilburg/tilburg-code-brabant-tilburg-university">CoderDojo</a></td>
                    </tr>
                    <tr {% if date() > date('2016-10-22') %}class="text-muted"{% endif %}>
                        <td><strong>22 Oktober - Kennemerwaard</strong></td>
                        <td><a href="http://www.eventbrite.nl/e/tickets-coderdojo-kennemerwaard-26661007792" target="_blank">CoderDojo</a></td>
                    </tr>
                    <tr {% if date() > date('2016-10-22') %}class="text-muted"{% endif %}>
                        <td><strong>22 Oktober - Apeldoorn</strong></td>
                        <td><a href="http://www.eventbrite.nl/e/tickets-coderdojo-apeldoorn-oktober-2016-27323379965" target="_blank">CoderDojo</a></td>
                    </tr>
                    <tr {% if date() > date('2016-10-22') %}class="text-muted"{% endif %}>
                        <td><strong>22 Oktober - Spijkenisse</strong></td>
                        <td><a href="http://www.eventbrite.nl/e/tickets-coderdojo-10-27457101931" target="_blank">CoderDojo</a> <span class="label label-success">Vol</span></td>
                    </tr>
                    <tr {% if date() > date('2016-10-22') %}class="text-muted"{% endif %}>
                        <td><strong>22 Oktober - Leeuwarden</strong></td>
                        <td><a href="http://www.eventbrite.nl/e/tickets-coderdojo-leeuwarden-so2ep2-webdevelopment-en-scratch-27051685319" target="_blank">CoderDojo</a></td>
                    </tr>
                    <tr {% if date() > date('2016-10-22') %}class="text-muted"{% endif %}>
                        <td><strong>22 Oktober - Rotterdam</strong></td>
                        <td><a href="https://www.bibliotheek.rotterdam.nl/actueel/agenda/evenement/2215-coderdojo-in-bibliotheek-feijenoord" target="_blank">CoderDojo @ Bibliotheek Feijenoord</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div><!--/container-->
<!--=== End Content Part ===-->

<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
{% endblock %}
