{% extends "CoderdojoWebsiteBundle::index.html.twig" %}

{% block title %}Ziggo &mdash; Samenwerkingen &mdash; {{ parent() }}{% endblock %}
{% block fbtitle %}Ziggo &mdash; Samenwerkingen &mdash; {{ parent() }}{% endblock %}
{% block og_image %}https://www.coderdojo.nl{{asset('bundles/coderdojowebsite/img/ziggo_fb.png')}}{% endblock %}

{% block description %}
Ziggo ondersteund CoderDojo in Nederland en zal zich daarom inzetten om ook de community in Nederland te ondersteunen.
{% endblock %}

{% block fbdescription %}
    Ziggo ondersteund CoderDojo in Nederland en zal zich daarom inzetten om ook de community in Nederland te ondersteunen.
{% endblock %}

{% block customjs %}
    <script type="text/javascript">
        mixpanel.track("View Ziggo Page");
    </script>
{% endblock %}

{% block content %}
<!--=== Breadcrumbs ===-->
<div class="breadcrumbs margin-bottom-40">
    <div class="container">
        <h1 class="pull-left">Ambassadeur Ziggo</h1>
    </div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<!--=== Content Part ===-->
<div class="container">

    <div class="row">
        <div class="col-md-8 col-md-push-2 col-sm-12 col-sm-push-0 text-center margin-bottom-10">
            <img src="{{ asset('bundles/coderdojowebsite/img/ziggo.png') }}" style="width: 100%;" alt="Ziggo"/>
        </div>
    </div>
    <div class="row margin-bottom-30">
        <div class="col-md-8 col-md-push-2 col-sm-12 col-sm-push-0">
            <p class="margin-bottom-20">
                Ziggo is ambassadeur van CoderDojo. Samen met CoderDojo en lokale partners heeft Ziggo de ambitie in 2016 minimaal 10.000 jongeren in Nederland kennis te laten maken met programmeren.
                Ziggo wil jongeren de mogelijkheden van de digitale wereld zo optimaal mogelijk laten benutten en bereidt ze graag voor op hun toekomst door hen vroegtijdig kennis te laten maken met techniek. Door te programmeren leren kinderen logisch en creatief denken, ontdekken ze de mogelijkheden van technologie en wordt onze nieuwe creatieve generatie voorbereid op de banen van de toekomst. Op dit moment hebben veel jongeren nog te weinig vaardigheden voor toekomstige banen, waarbij IT centraal staat. De voorspelling is dat in 2020 in Europa ruim 800.000 banen niet ingevuld worden als we niets doen. Gelukkig werken allerlei partijen in Nederland en andere Europese landen samen om met elkaar op tijd klaar te zijn voor de toekomst.
            </p>
            <p class="text-right">
                <a href="https://www.ziggo.nl/actueel/nieuws/jong-leren-coderen/" target="_blank" class="btn-u btn-u-orange">Naar Ziggo&nbsp;&nbsp;&nbsp;&nbsp;<i class="icon-chevron-right"></i></a>
            </p>
        </div>
    </div>
    <div class="row margin-bottom-40">
        <div class="col-md-7">
            <div class="headline">
                <h2>MegaDojo @ Ziggo Dome</h2>
            </div>
            <div class="responsive-video margin-bottom-40 margin-top-0">
                <iframe width="640" height="360" src="//www.youtube.com/embed/0jneeKZFJEU" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-md-5">
            <div class="headline">
                <h2>Dojo's opgezet door Ziggo</h2>
            </div>
            <p class="margin-bottom-20">Ziggo heeft ook zelf een aantal Dojo's opgezet:</p>
            <table class="table">
                <tbody>
                    <tr>
                        <td>CoderDojo Leeuwarden</td>
                    </tr>
                    <tr>
                        <td>CoderDojo Utrecht</td>
                    </tr>
                    <tr>
                        <td>CoderDojo Zwolle</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div><!--/container-->
<!--=== End Content Part ===-->

<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
{% endblock %}
