{% extends "CoderDojoWebsiteBundle:Snippets:_email.html.twig" %}

{% block content %}
    <p>Hi {{ coc.letters }} {{ coc.name }},</p>
    <p>
        We hebben jouw gratis VOG aangevraagd bij het ministerie.
        Als het goed is krijg je hier ook van de overheid bericht van.
        Het is nu aan jou om zélf jouw VOG aan te vragen!
    </p>
    <p>
        Zodra je jouw VOG hebt aangevraagd willen we je vragen om dit aan ons te laten weten.
        Dit kun je doen door op onderstaande knop te klikken als je jouw VOG hebt aangevraagd.
    </p>
    <p>
        <br/>
        <a href="{{ path('vog-requested', {'id':coc.id}) }}" class="btn">
            Ik heb mijn VOG aangevraagd
        </a>
    </p>
{% endblock content %}