{% extends "CoderDojoWebsiteBundle:Snippets:_email.html.twig" %}

{% block content %}
    <p>
        Hi CoderDojo Nederland,
    </p>
    <p>
        {{ coc.letters }} {{ coc.name }} heeft een VOG per post naar jullie verstuurd.<br/>
        Hou de brievenbus in de gaten!
    </p>
{% endblock content %}