{% extends "CoderDojoWebsiteBundle:Snippets:_email.html.twig" %}

{% bock content %}
    <p>Hi {{ mentor.firstName }},</p>

    <p>
        Je hebt nu toegang tot {{ dojo.name }}!
    </p>
{% endblock content %}