{% extends ":Snippets:_email.html.twig" %}

{% block content %}
    <p>Hi {{ member.firstName }},</p>
    <p>
        Allright, je bent er helemaal klaar voor! Vanaf nu zullen wij jou automatisch op de hoogte houden wanneer het
        weer tijd is voor je donatie.
    </p>
    <p>
        Omdat het nog wel even duurt voordat jouw eerste donatie er aan komt willen we je
        graag de mogelijkheid geven om alvast in te stappen met de huidige periode.
    </p>

    <p style="text-align: center;">
        <img src="https://media2.giphy.com/media/abZ5exGrse0W4/200w.gif?cid=c94812d05ccb32366663776751488f73&rid=200w.gif"/>
    </p>

    {% if member.interval == 'yearly' %}
        <p>
            Je hebt gekozen om <strong>jaarlijks</strong> te doneren. Als je er voor kiest om nu al
            te doneren, dan ben je voor dit jaar al klaar!
        </p>
    {% elseif member.interval == 'semi-yearly' %}
        <p>
            Je hebt gekozen om elk <strong>half jaar</strong> te doneren. Jouw volgende donatiemoment zou pas zijn op
            {{ nextDonation|localizeddate('none', 'none', 'nl_NL', null, "d MMMM Y") }}. Dat is over meer dan 3 maanden!
            Doe je nog mee met dit half jaar?
        </p>
    {% elseif member.interval == 'quarterly' %}
        <p>
            Je hebt gekozen om <strong>elk kwartaal</strong> te doneren. Jouw volgende donatiemoment zou pas zijn op
            {{ nextDonation|localizeddate('none', 'none', 'nl_NL', null, "d MMMM Y") }}. Doe je nog mee met dit kwartaal?
        </p>
    {% endif %}
    <p style="text-align: center;">
        <a href="{{ url('club_of_100_payment', {'uuid': donation.uuid }) }}" class="btn">Ik betaal direct online!</a>
    </p>
    <p style="font-style: italic;text-align: center">
        Betalen kan met iDeal of PayPal.
    </p>
{% endblock content %}
