{% extends ":Snippets:_email.html.twig" %}

{% block content %}
    <p>Hi {{ member.firstName }},</p>
    <p>
        Jij bent lid van de CoderDojo Nederland Club van 100. Geweldig! We willen je graag laten weten dat het weer tijd
        is om een donatie te doen zoals je bij je lidmaatschap hebt beloofd. Het betreft hier de donatie voor het <strong>kalenderjaar 2020</strong>.
    </p>
    {% if member.interval == 'yearly' or member.interval == 'yearly-invoiced' %}
        <p>
            Je hebt gekozen om elk jaar <strong>&euro; 100,-</strong> bij te dragen aan CoderDojo Nederland.
        </p>
    {% elseif member.interval == 'semi-yearly' %}
        <p>
            Je hebt gekozen om elk half jaar <strong>&euro; 50,-</strong> bij te dragen aan CoderDojo Nederland.
        </p>
    {% elseif member.interval == 'quarterly' %}
        <p>
            Je hebt gekozen om elk kwartaal <strong>&euro; 25,-</strong> bij te dragen aan CoderDojo Nederland.
        </p>
    {% endif %}

    <p style="font-style: italic; font-size: 10px;text-align: center;">
        <strong>Let op!</strong> We zijn overgestapt naar Ecurring, een payment provider van Mollie, die voortaan middels automatische incasso
        de donaties zal incasseren.
    </p>

    <p style="text-align: center;">
        <a href="{{ confirmationUrl }}" class="btn">Doneer nu!</a>
    </p>
    <p style="font-style: italic;text-align: center">
        Betalen kan met iDeal of Credit Card.
    </p>
{% endblock content %}
