{% extends ":Snippets:_email.html.twig" %}

{% block content %}
    <p>Hi {{ member.firstName }},</p>
    <p>
        Super tof dat je lid bent geworden van de club van 100! Je bent onderdeel van een elite club die mede
        verantwoordelijk is voor het succes en behoud van CoderDojo Nederland!
    </p>
    <p style="text-align: center;">
        <img src="https://media1.giphy.com/media/nG0MqEAopKJy0nFECr/giphy.gif?cid=ecf05e47yi9eo6xw23gjejpcrjd1bhnnktfrqrcyas5yqs82&rid=giphy.gif&ct=g"/>
    </p>
    <p>
        Je hebt gekozen om elk jaar <strong>&euro; 100,-</strong> bij te dragen aan CoderDojo Nederland. Dat
        betekent dat wij elk jaar op 30 mei de donatie zullen incasseren.
    </p>
{% endblock content %}
