{% extends ":Snippets:_email.html.twig" %}

{% block content %}
    <p>Hi {{ member.firstName }},</p>
    <p>
        Super tof dat je lid bent geworden van de club van 100! Je bent onderdeel van een elite club die mede
        verantwoordelijk is voor het succes en behoud van CoderDojo Nederland!
    </p>
    <p style="text-align: center;">
        <img src="https://media3.giphy.com/media/l46Cpz0A0dB1jMxG0/200w.gif?cid=c94812d05cc99a3d2f57732e32d381d0&rid=200w.gif"/>
    </p>
    {% if member.interval == 'yearly' or member.interval == 'yearly-invoiced' %}
        <p>
            Je hebt gekozen om elk jaar <strong>&euro; 100,-</strong> bij te dragen aan CoderDojo Nederland. Dat
            betekent dat wij elk jaar op 30 mei de donatie zullen incasseren.
        </p>
    {% elseif member.interval == 'semi-yearly' %}
        <p>
            Je hebt gekozen om elk half jaar <strong>&euro; 50,-</strong> bij te dragen aan CoderDojo Nederland. Dat
            betekend dat wij elke 6 maanden vanaf vandaag op de 30e van de maand de donatie zullen incasseren.
        </p>
    {% elseif member.interval == 'quarterly' %}
        <p>
            Je hebt gekozen om elk kwartaal <strong>&euro; 25,-</strong> bij te dragen aan CoderDojo Nederland. Dat
            betekent dat wij elke 3 maanden vanaf vandaag op de 30e van de maand de donatie zullen incasseren.
        </p>
    {% endif %}
{% endblock content %}
