{% extends ":Dashboard:index.html.twig" %}

{% block dashboard_content %}
    <div class="u-heading-v2-5--bottom g-brd-primary g-mb-20 g-mt-0">
        <h2 class="u-heading-v2__title text-uppercase g-font-weight-300 mb-0">Webshop Apparel</h2>
    </div>
    <p>
        Schaf hier branded apparel aan om herkenbaarder in jouw dojo rond te kunnen lopen.
    </p>
    <div id='collection-component-1567712037827'></div>
    <script type="text/javascript">
        /*<![CDATA[*/
        (function () {
            var scriptURL = 'https://sdks.shopifycdn.com/buy-button/latest/buy-button-storefront.min.js';
            if (window.ShopifyBuy) {
                if (window.ShopifyBuy.UI) {
                    ShopifyBuyInit();
                } else {
                    loadScript();
                }
            } else {
                loadScript();
            }
            function loadScript() {
                var script = document.createElement('script');
                script.async = true;
                script.src = scriptURL;
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(script);
                script.onload = ShopifyBuyInit;
            }
            function ShopifyBuyInit() {
                var client = ShopifyBuy.buildClient({
                    domain: 'coderdojo-nederland.myshopify.com',
                    storefrontAccessToken: 'c5296d378a565af3a5b39489f7e2d9dd',
                });
                ShopifyBuy.UI.onReady(client).then(function (ui) {
                    ui.createComponent('collection', {
                        id: '98087895125',
                        node: document.getElementById('collection-component-1567712037827'),
                        moneyFormat: '%E2%82%AC%7B%7Bamount_with_comma_separator%7D%7D',
                        options: {
                            "product": {
                                "styles": {
                                    "product": {
                                        "@media (min-width: 601px)": {
                                            "max-width": "calc(25% - 20px)",
                                            "margin-left": "20px",
                                            "margin-bottom": "50px",
                                            "width": "calc(25% - 20px)"
                                        },
                                        "img": {
                                            "height": "calc(100% - 15px)",
                                            "position": "absolute",
                                            "left": "0",
                                            "right": "0",
                                            "top": "0"
                                        },
                                        "imgWrapper": {
                                            "padding-top": "calc(75% + 15px)",
                                            "position": "relative",
                                            "height": "0"
                                        }
                                    },
                                    "title": {
                                        "font-family": "Open Sans, sans-serif",
                                        "font-weight": "normal"
                                    },
                                    "button": {
                                        "font-family": "Open Sans, sans-serif",
                                        ":hover": {
                                            "background-color": "#cf711f"
                                        },
                                        "background-color": "#e67e22",
                                        ":focus": {
                                            "background-color": "#cf711f"
                                        },
                                        "border-radius": "4px"
                                    },
                                    "price": {
                                        "font-family": "Open Sans, sans-serif"
                                    },
                                    "compareAt": {
                                        "font-family": "Open Sans, sans-serif"
                                    }
                                },
                                "contents": {
                                    "button": false,
                                    "buttonWithQuantity": true
                                },
                                "text": {
                                    "button": "Toevoegen"
                                },
                                "googleFonts": [
                                    "Open Sans"
                                ]
                            },
                            "productSet": {
                                "styles": {
                                    "products": {
                                        "@media (min-width: 601px)": {
                                            "margin-left": "-20px"
                                        }
                                    }
                                }
                            },
                            "modalProduct": {
                                "contents": {
                                    "img": false,
                                    "imgWithCarousel": true,
                                    "button": false,
                                    "buttonWithQuantity": true
                                },
                                "styles": {
                                    "product": {
                                        "@media (min-width: 601px)": {
                                            "max-width": "100%",
                                            "margin-left": "0px",
                                            "margin-bottom": "0px"
                                        }
                                    },
                                    "button": {
                                        "font-family": "Open Sans, sans-serif",
                                        ":hover": {
                                            "background-color": "#cf711f"
                                        },
                                        "background-color": "#e67e22",
                                        ":focus": {
                                            "background-color": "#cf711f"
                                        },
                                        "border-radius": "4px"
                                    },
                                    "title": {
                                        "font-weight": "normal"
                                    }
                                },
                                "googleFonts": [
                                    "Open Sans"
                                ],
                                "text": {
                                    "button": "Add to cart"
                                }
                            },
                            "option": {
                                "styles": {
                                    "label": {
                                        "font-family": "Open Sans, sans-serif"
                                    },
                                    "select": {
                                        "font-family": "Open Sans, sans-serif"
                                    }
                                },
                                "googleFonts": [
                                    "Open Sans"
                                ]
                            },
                            "cart": {
                                "styles": {
                                    "button": {
                                        "font-family": "Open Sans, sans-serif",
                                        ":hover": {
                                            "background-color": "#cf711f"
                                        },
                                        "background-color": "#e67e22",
                                        ":focus": {
                                            "background-color": "#cf711f"
                                        },
                                        "border-radius": "4px"
                                    }
                                },
                                "text": {
                                    "title": "Winkelwagen",
                                    "total": "Subtotaal",
                                    "empty": "Je winkelwagen is leeg",
                                    "notice": "Verzendkosten worden in de volgende stap berekend.",
                                    "button": "Afrekenen",
                                    "noteDescription": "Heb je een toffe reden om te doneren?"
                                },
                                "googleFonts": [
                                    "Open Sans"
                                ]
                            },
                            "toggle": {
                                "styles": {
                                    "toggle": {
                                        "font-family": "Open Sans, sans-serif",
                                        "background-color": "#e67e22",
                                        ":hover": {
                                            "background-color": "#cf711f"
                                        },
                                        ":focus": {
                                            "background-color": "#cf711f"
                                        }
                                    }
                                },
                                "googleFonts": [
                                    "Open Sans"
                                ]
                            }
                        },
                    });
                });
            }
        })();
        /*]]>*/
    </script>
{% endblock dashboard_content %}
