{% extends ":Dashboard:index.html.twig" %}

{% block dashboard_content %}
    <div class="u-heading-v2-5--bottom g-brd-primary g-mb-20 g-mt-0">
        <h2 class="u-heading-v2__title text-uppercase g-font-weight-300 mb-0">Events Toevoegen</h2>
    </div>
    <div class="alert alert-info">
        <p>
            <strong>Eventbrite integratie op Zen</strong><br/>
            Vanaf nu kun je jouw Eventbrite account koppelen aan Zen zodat ook Eventbrite events automatisch op coderdojo.nl verschijnen!
        </p>
        <p>
            <a href="/nieuws/dojo-support/eventbrite-integratie-op-zen" class="btn btn-sm btn-warning">Stap Nu Over!</a>
        </p>
    </div>
    {{ form_start(form, { 'action': '#', 'attr': { 'class': 'fos_user_registration_register form-horizontal' } }) }}
    {{ form_widget(form) }}
    <div class="form-group row">
        <div class="col-lg-2"></div>
        <div class="col-lg-offset-2 col-lg-10">
            <input type="submit" value="Opslaan" class="btn btn-block btn-success" />
        </div>
    </div>
    {{ form_end(form) }}

    <script type="application/javascript" language="JavaScript">
        if ( $('#event_form_date')[0].type != 'date' ) {
            $('#event_form_date').datepicker({
                dateFormat: "yy-mm-dd"
            });
        }
    </script>
{% endblock dashboard_content %}
