{% extends ":Dashboard:index.html.twig" %}

{% block dashboard_content %}
    <div class="u-heading-v2-5--bottom g-brd-primary g-mb-20 g-mt-0">
        <h2 class="u-heading-v2__title text-uppercase g-font-weight-300 mb-0">Events verwijderen</h2>
    </div>
    <p>
        Weet je zeker dat je {{ event.name }} wilt verwijderen van {{ dojo.name }}?
    </p>
    <p>
        <a href="?confirmed" class="btn btn-danger"><i class="fa fa-trash"></i> Verwijderen</a>
    </p>

{% endblock dashboard_content %}
