/*Dojos Pages
------------------------------------*/

.content-wrapper {
  position: relative;
  width: 100%;
  height: calc(100vh - 100px);
}

/* override some bootstrap styles */
.panel-heading {
  padding-bottom: 0px;
}

.nav-tabs {
  border-bottom: 0px !important;
}

.nav-tabs a{
  color: white;
}

/* the map in the background */
.map {
	width: 100%;
	height: 100%;
  position: absolute;
}

/* the selector box containing the dojos */
.dojo-selector {
  padding-top: 40px;
  padding-left: 40px;
}

tr.dojo-row {
  transition: background-color, 300ms;
}

tr.dojo-row:hover {
  background-color: #ededed;
}

.contact-info > a:nth-child(1) {
  margin-bottom: 10px;
}

[data-js-ref=list-all-dojos] {
  max-height: 500px;
  overflow-y: scroll;
}
